@font-face{
	font-family: comp-bottom: 1em;uterModern;
	src: url(../fonts/computer_modern/cmunrm.eot);
}   
@font-face{
	font-family: computerModern;
	src: url(../fonts/computer_modern/cmunrm.ttf);
}   
@font-face{
	font-family: computerModern;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunci.eot);
}   
@font-face{
	font-family: computerModern;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunci.ttf);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	src: url(../fonts/computer_modern/cmunbx.eot);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	src: url(../fonts/computer_modern/cmunbx.ttf);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunbi.eot);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunbi.ttf);
}   

@font-face{
	font-family: ubuntu;
	src: url(../fonts/ubuntu/Ubuntu-R.eot);
}   
@font-face{
	font-family: ubuntu;
	src: url(../fonts/ubuntu/Ubuntu-R.ttf);
}   
@font-face{
	font-family: ubuntu;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-RI.eot);
}   
@font-face{
	font-family: ubuntu;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-RI.ttf);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	src: url(../fonts/ubuntu/Ubuntu-B.eot);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	src: url(../fonts/ubuntu/Ubuntu-B.ttf);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-BI.eot);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-BI.ttf);
}   

a {
	color: rgb(170, 0, 212);
	cursor: pointer;
}

a:link {
	color: rgb(170, 0, 212);
	text-decoration: none;
}

a:visited {
	color: rgb(170, 0, 212);
	text-decoration: none;
}

a:hover {
	color: rgb(170, 0, 212);
	text-decoration: none;
}

a:active {
	color: rgb(170, 0, 212);
	text-decoration: none;
}

#main_tabs a:link {
	color: rgb(80,80,80);
}

#main_tabs a:visited {
	color: rgb(80,80,80);
}

#main_tabs a:hover {
	color: rgb(80,80,80);
}

#main_tabs a:active {
	color: rgb(80,80,80);
}

.note_icon {
	margin: 20px 10px 10px 0;
	float:left;
}

body {
	font-family: ubuntu;
	font-size: 15px;
	margin: 0;
	padding: 0;
	color: rgb(80,80,80);
	background: no-repeat 0 100% url('../images/crowd_cut.jpg');
}

#footer {
	clear: both;
	padding: 20px;
	height: 500px;
}

#header {
	position: fixed;
	padding: 8px 4px 4px 4px;
	background: white;
	z-index: 999;
	width: 100%;
}

#topic_list {
	clear: both;
	text-align: center;
	width: 946px;
	padding: 4px 0 0 0;
}

.sector_links, .sector_links_first {
	color: orange;
	font-size: 18px;
}
.sector_links {
	margin: 0 8px 0 8px;
}

div.short_nav_button, div.short_nav_button_first {
	border-radius: 6px;
	border: solid 2px black;
	float:left;
	padding: 3px;
	height: 40px;
	width: 46px;
	background: white;
	text-align: center;
}

div.short_nav_button {
	margin: 0 0 0 8px;
}

a.navitem, a.navitem_active {
	border-radius: 6px;
	float:left;
	padding: 10px 0 0 0;
	height: 36px;
	width: 126px;
	margin: 0 0 0 8px;
	font-size: 20px;
	text-align: center;

}

a.navitem_active {
	background: white;
	color: white;
	border: solid 2px rgb(170, 0, 212);
	background: rgb(170, 0, 212);
}

a.navitem {
	background: black;
	border: black;
	border: solid 2px black;
	color: white;
}

a.create_navitem {
}


#colophon {
	margin: 0 0 0 0px;
}

div#navbar {
	display: block;
	padding: 0;
	float: left;
}

#search_bar {
	position: relative;
	padding: 6px 3px 3px 3px;
	height: 37px;
	background-image: no-repeat url('../images/search.png');
}

#search_bar input {
	border: solid 1px rgb(80,80,80);
	background: white;
	display:none;
}

#search_bar .search_submit {
	display:none;
	width: 20px;
}

#login_div {
	padding-top: 6px;
	margin-left: 16px;
}

#login_row {
	float: left;
	margin: 10px 0 0 0;
}


#header_spacer {
	height: 52px;
}

.outer_center {
	text-align: center;
}

.inner_center {
	text-align: left;
	margin: auto;
	width: 1100px;
}

#login_form {
	display: none;
}

#user {
	float: right;
}

#middle {
	padding: 40px 0 40px 0;
	clear: both;
}

div.tags  {
	width: 650px;
	float:left;
	margin: 10px 0 20px 0;
}

.tag, .sector_tag {
	display: block;
	float: left;
	padding: 0 3px 1px 4px;
	margin: 2px;
	font-family: ubuntu;
}

.tag {
	background: rgb(250, 220, 255);
}

.economy_sector {
	background: orange;
	color: black;
}

.environment_sector {
	color: white;
	background: lightgreen;
}

.relations_sector {
	color: white;
	background: blue;
}

.readiness_sector {
	color: white;
	background: red;
}

.culture_sector {
	color: white;
	background: rgb(170, 0, 212);
}

.health_sector {
	background: pink;
	color: black;
}

.democracy_sector {
	background: rgb(80,80,80);
	color: white;
}

.education_sector {
	background: cyan;
	color: black;
}

.comment_author {
	font-weight: bold;
} 

h1, h2, h3 {
	margin: 0;
}

