@font-face{
	font-family: comp-bottom: 1em;uterModern;
	src: url(../fonts/computer_modern/cmunrm.eot);
}   
@font-face{
	font-family: computerModern;
	src: url(../fonts/computer_modern/cmunrm.ttf);
}   
@font-face{
	font-family: computerModern;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunci.eot);
}   
@font-face{
	font-family: computerModern;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunci.ttf);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	src: url(../fonts/computer_modern/cmunbx.eot);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	src: url(../fonts/computer_modern/cmunbx.ttf);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunbi.eot);
}   
@font-face{
	font-family: computerModern;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/computer_modern/cmunbi.ttf);
}   

@font-face{
	font-family: ubuntu;
	src: url(../fonts/ubuntu/Ubuntu-R.eot);
}   
@font-face{
	font-family: ubuntu;
	src: url(../fonts/ubuntu/Ubuntu-R.ttf);
}   
@font-face{
	font-family: ubuntu;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-RI.eot);
}   
@font-face{
	font-family: ubuntu;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-RI.ttf);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	src: url(../fonts/ubuntu/Ubuntu-B.eot);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	src: url(../fonts/ubuntu/Ubuntu-B.ttf);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-BI.eot);
}   
@font-face{
	font-family: ubuntu;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/ubuntu/Ubuntu-BI.ttf);
}   

.note_icon {
	margin: 20px 10px 10px 0;
	float:left;
}

body {
	font-family: ubuntu;
	margin: 0;
	padding: 0;
}

#header {
	height: 40px;
	clear: both;
}

#colophon {
	float: left;
	width: 40px;
	height: 40px;
}

