.form_line {
	margin-bottom: 10px;
}

.ProposalVersionForm_title {
	width: 400px;
}

.ProposalVersionForm_summary, 
.ProposalVersionForm_text, 
.ProposalVersionForm_title,
.QuestionForm_title,
.QuestionForm_text,
.AnswerForm_text,
#proposal_tags {
	width: 704px;
}

.ProposalVersionForm_summary {
	height: 200px;
}

.ProposalVersionForm_text {
	height: 600px;
}

.factor_form_left_column {
	width: 335px;
	margin-left: 0px;
	float: left;
}

.factor_form_right_column {
	width: 335px;
	margin-left: 30px;
	float: left;
}

#proposal_factor_forms {
	margin: 50px 0;
}

#proposal_factor_forms textarea {
	width: 333px;
	height: 100px;
}

.factor_form_pos, .factor_form_neg {
	margin-top: 30px;
}

.factor_selectors {
	margin-bottom: 10px
}

.EditProposalForm textarea,
.EditProposalForm input,
.QuestionForm textarea,
.QuestionForm input,
.AnswerForm input,
.AnswerForm textarea {
	background: rgb(250,250,250);
	border: solid 1px rgb(80,80,80);
	color: black;
	padding: 8px;
}

.EditProposalForm .submit,
.QuestionForm .submit,
#AnswerForm__submit {
	font-family: ubuntu;
	font-size: 16px;
}

.EditProposalForm textarea {
	font-family: computerModern;
	font-size: 16px;
}

.QuestionForm textarea,
.AnswerForm textarea {
	font-family: ubuntu;
	font-size: 16px;
}

.ProposalVersionForm_title,
.QuestionForm_title {
	font-size: 24px;
	font-weight: bold;
}

.ProposalVersionForm_title {
	font-family: computerModern;
	font-size: 24px;
	font-weight: bold;
}

.field_wrapper_error textarea, .field_wrapper_error input, 
textarea.error, .field_wrapper_error .tagit {
	border: solid 1px brown;
	background: rgb(255,250,250);
}

.field_errors {
	color: brown;
	font-style: italic;
}

#ProposalVersionForm__sectors {
	width: 500px;
	height: 50px;
	list-style-type: none;
	padding: 0;
	margin: 0 200px 0 0;
}

#ProposalVersionForm__sectors li {
	float:left;
	padding: 0;
	margin: 0;
	width: 120px;
}

#ProposalVersionForm__sectors li input {
	float: left;
}

