.highlight {
	background-color: yellow;
	border-radius: 6px;
}

.highlight_annotator {
	display: none;
	position: absolute;
	height: 36px;
	width: 36px;
}

.highlight_annotator img {
	width: 36px;
	height: 35px;
}

.highlight_comment_wrapper {
	display: none;
	position: absolute;
	padding: 28px 8px 8px 8px;
	background: white;
	border: solid 1px black;
	border-radius: 4px;
}

.highlight_inner_comment_wrapper {
	padding: 10px;
	background: white;
}

.highlight_comment_wrapper input {
	float: right;
	border: solid 1px rgb(80,80,80);
	border-radius: 4px;
	background: rgb(250, 250, 250);
	padding: 4px;
	margin-left: 8px;
}

.highlight_comment_wrapper textarea {
	width: 260px;
	height: 140px;
	background: rgb(250, 250, 250);
	border: solid 1px rgb(80,80,80);
	border-radius: 4px;
}

.annot_marker {
	position: absolute;
	height: 5px;
	width: 5px;
	cursor: pointer;
	background: blue;
	border-radius: 50%;
}

.annotation {
	display: none;
	position: absolute;
	background: white;
	border-radius: 10px;
	border: solid 1px rgb(170, 0, 212);
	width: 300px;
	max-width: 100%;
	padding: 6px;
}

.edit_annotation_div {
	font-size: 12px;
	float: right;
}

.edit_annotation_div a {
	margin-left: 4px;
}
