#outer_center_featured {
	text-align: center;
}

#center_featured {
	margin: auto;
	text-align: left;
	width: 970px;
	max-width: 100%;
}

#about h1 {
	text-shadow: 1px 1px rgb(80,80,80);
	font-size: 40px;
	color: rgb(245,245,245);
}

#about h2 {
	margin: 0;
}

.left_col {
	float: none;
	width: 100%;
}

.right_col{
	float: none;
	width: 100%;
}

@media screen and (min-width: 660px) {
	.left_col {
		float:left;
		width: 50%;
	}

	.right_col{
		float:right;
		width: 50%;
	}
}

#about{
}

#about_info {
}

#cta {
	text-align: center;
}

.summary_backdrop {
	opacity: 0.4;
	background: black;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

.summary p, .summary_backdrop p {
	display: inline;
	color: white;
	text-shadow: -1px -1px black;
}
.summary .read_more_link,
.summary_backdrop .read_more_link {
	display: inline;
	text-shadow: none;
	color: orange;
}

#start_issue:link, #start_issue:visited, #start_issue:hover, 
#start_issue:active {
	display: block;
	margin: auto;
	padding: 16px;
	background: white;
	width: 120px;
	color: green;
	border-radius: 10px;
	font-weight: bold;
	font-size: 22px;
}

#start {
	margin-bottom: 32px;
}

#def_issue {
	max-width: 240px;
	margin: auto;
	margin-top: 16px;
}

.feat {
	color: white;
	text-shadow: -1px -1px black;
	font-family: computerModern;
}

.feat, .feat img {
	float: left;
	border-radius: 10px;
	max-width: 100%;
	max-height: 100vw;
}

.feat .title {
	position: absolute;
	left: 10px;
	color: white;
	font-size: 30px;
	max-width: 100%;
	max-height: 100vw;
}

#f0, #f0 img {
	width: 524px;
	height: 524px;
	max-width: 100%;
	max-height: 100vw;
}

#f1, #f1 img {
	width: 257px;
	height: 257px;
	max-width: 100%;
	max-height: 100vw;
}

#f2, #f2 img {
	width: 257px;
	height: 257px;
	max-width: 100%;
	max-height: 100vw;
}

#f3, #f3 img {
	width: 168px;
	height: 168px;
	max-width: 100%;
	max-height: 100vw;
}

#f4, #f4 img {
	width: 168px;
	height: 168px;
	max-width: 100%;
	max-height: 100vw;
}

#f5, #f5 img {
	width: 168px;
	height: 168px;
	max-width: 100%;
	max-height: 100vw;
}

#f0 .title, #f0 .summary, #f0 .summary_backdrop {
	width: 504px;
	max-width: 100%;
	max-height: 100vw;
}
#f1 .title, #f1 .summary, #f1 .summary_backdrop, 
#f2 .title, #f2 .summary, #f2 .summary_backdrop {
	width: 237px;
	max-width: 100%;
	max-height: 100vw;
}

#f3 .title, #f3 .summary, #f3 .summary_backdrop, 
#f4 .title, #f4 .summary, #f4 .summary_backdrop,
#f5 .title, #f5 .summary, #f5 .summary_backdrop {
	width: 168px;
	max-width: 100%;
	max-height: 100vw;
}

.summary, .summary_backdrop {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
}


@media screen and (min-width: 559px) {
	.summary, .summary_backdrop {
		display: block;
	}
}

