.proposal_image {
	border-radius: 10px;
	width: 325px;
	height: 325px;
}

.overview_section_heading, .overview_serifs_section_heading {
	position: absolute;
	left: 4px;
	padding: 0 8px;
	margin: 0;
	background: white;
}
.overview_section_heading {
	top: -4px;
}

.overview_serifs_section_heading {
	top: -6px;
	font-size: 22px;
	font-family: computerModern;
}

.overview_section_body {
	clear: both;
	border: dotted 1px rgb(120,120,120);
	padding: 20px 10px 10px 10px;
	margin-top: 10px;
}

.overview_section {
	float:left;
	position: relative;
	width: 298px;
	margin: 10px;
	padding: 20px 10px 10px 10px;
	border: dotted 1px rgb(120,120,120);
}

.overview_petition_status_indicator {
	text-align: center;
	float: left;
	margin: -10px 10px 0px -6px;
	background: white;
}

.overview_letter_main {
	position: relative;
	float: left;
	width: 278px;
}

.overview_physical_letter {
	border: solid 1px rgb(80,80,80);
	padding: 20px;
}

.overview_petition_title {
	font-size: 16px;
	margin: 0;
}

.overview_letter_body {
}

.overview_section_link {
	margin-left: 10px;
	font-size: 14px;
	font-family: ubuntu;
}

#overview_in_brief {
	font-family: computerModern;
	font-size: 14px;
}

#previews {
	float: right;
	margin-left: 30px;
}

#article {
	font-family: computerModern;
	font-size: 16px;
	text-align: justify;
}

#article h1, h2, h3 {
	margin: 0;
	padding: 0;
}

#article h1 {
	font-size: 28px;
}

#article h2 {
	font-size: 22px;
}

#article h3 {
	font-size: 18px;
	display: inline;
}


#article p {
	margin: 0 0 14px;
	padding: 0;
}

#article .inbrief {
}
