.post, .subpost {
	position: relative;
	max-width: 100%;
	margin-bottom: 20px;
}

.post h2 {
	margin:0 0 10px;
	padding:0;
	font-size: 18px;
	border-bottom: dotted 1px rgb(180,180,180);
}

.add_reply_area, .discussion_reply {
	border-left: solid 1px rgb(80, 80, 80);
	border-right: solid 1px rgb(80, 80, 80);
	border-bottom: solid 1px rgb(80, 80, 80);
	width: 588px;
	padding: 20px;
	float: right;
}

.post_main_area, .subpost_main_area {
	width: 600px;
	max-width: 100%;
	float: left;
	border: solid 1px rgb(80,80,80);
	padding: 10px;
}

.post_user .sender, .subpost_user .sender {
	float: right;
	margin: 10px;
}


.post_body, .subpost_body {}
