.proposal_main {
	float:left;
	width: 678px;
}

#proposal {
	font-family: computerModern;
	font-size: 16px;
	padding: 0 0 10px 10px;
	text-align: justify;
}

.proposal_text {
	padding: 0 20px;
}


.diff_add {
	background: lime;
}
.diff_chg{
	background: orange;
}
.diff_sub {
	background: red;
}

#search_bar {
	display:block;
}

#proposal h1 {
	margin: 20px 0 0 0;
}
	

#proposal .summary {
	margin-left: 100px;
	width: 550px;
	margin-bottom: 30px;
}
