/*
body {
	background: blue;
}

#header {
	background: orange;
}

#middle {
	background: yellow;
}

#footer {
	background: pink;
}

.inner_center {
	background: purple;
}

#colophon {
	background: cyan;
}

#user {
	background: lightblue;
}


#left_col, #left_col_spacer {
	background: lightcyan;
}

#center_col {
	background: brown;
}

#proposal {
	background: gray;
}

.proposal_main {
	background: pink;
}

h1.proposal_title {
	background: indigo;
}

#proposal_summary {
	background: blue;
}

#proposal_factors {
	background: orange;
}

.factor_list {
	background: yellow;
}

.factor_element {
	background: pink;
}

.factor_left_column {
	background: purple;
}

.factor_right_column {
	background: cyan;
}

.hr_flourish {
	background: lightblue;
}

.hr_flourish div.hr {
	background: green;
}

.hr_flourish div.flourish {
	background: green;
}

#right_col {
	background: lightcyan;
}

div#navbar {
	background: yellow;
}
div#navbar ul {
	background: brown;
}

li.navitem {
	background: gray;
}

.nav_horizontal_bar {
	background: indigo;
}



.tabs {
	background: blue;
}

.tab, .tab_active, .tab_thin_space, .tab_thick_space {
	background: orange;
}

.factor_list_heading {
	background: yellow;
}

.letter {
	background: pink;
}

.letter_status_bar, .letter_status_bar_spacer {
	background: purple;
}

.letter_votes_widget {
	background: cyan;
}

.letter_downvote, .letter_upvote {
	background: lightblue;
}

.letter_score {
	background: lightcyan;
}


.resend_widget {
	background: brown;
}

.resend {
	background: gray;
}

.letter_main {
	background: indigo;
}

.greeting {
	background: blue;
}

.recipients_and_valence {
	background: orange;
}

.recipients {
	background: yellow;
}

.recipient_title {
	background: pink;
}

.recipient_name {
	background: purple;
}

.letter_valence {
	background: cyan;
}

.senders {
	background: lightblue;
}

.sender {
	background: lightcyan;
}

.sender_avatar_image {
	background: brown;
}

.avatar_image_medium {
	background: gray;
}

.avatar_mask_medium {
	background: indigo;
}

.sender_name_and_bling {
	background: blue;
}

.sender_name {
	background: orange;
}

.sender_bling {
	background: yellow;
}

.resending {
	background: pink;
}

.resender {
	background: purple;
}	

.resenders_single_row {
	background: cyan;
}

.avatar_image_small {
	background: lightblue;
}

.avatar_mask_small {
	background: lightcyan;
}

.add_comment, .letter_comment {
	background: brown;
}

.letter_comment_input {
	background: yellow
}

.recipient {
	background: blue;
}

.letter_body {
	background: gray;
}

a.send_letter {
	background: cyan;
}

.comment_author {
	background: yellowgreen;
}

.add_letter {
	background: orange;
}
*/
