.issue_preview .status_indicator {
	float: left;
	height: 80px;
	width: 80px;
	font-family: computerModern;
	text-align: center;
}

.issue_preview .subscore {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: rgb(120,120,120);
}

.issue_preview .score {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: rgb(120,120,120);
}

.last_modified {
	font-family: ubuntu;
	color: rgb(120,120,120);
}

.info_line {
	font-size: 14px;
}

.issue_info {
	background: rgb(245, 245, 245);
	padding: 8px;
	margin: 6px;
}

.issue_info h3.issue_title {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	line-height: 1.2em;
	display: inline;
	font-family: computerModern;
}

.issue_preview h2.issue_title {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	line-height: 1.2em;
	display: inline;
}

.petition_title_div {
	float: left;
	padding: 8px;
	margin-left: 6px;
	background: rgb(245, 245, 245);
}

.petition_preview {
	margin: 6px 0 0 0;
}

.petition_preview .petition_title {
	font-size: 18px;
	margin: 0;
	padding: 0;
	width: 240px;
}

.petition_preview .petition_score {
	font-size: 24px;
	font-family: computerModern;
	font-weight: bold;
	font-style: italic;
}

.issue_preview .q_icon {
	margin: 0 0 -1px 3px;
}

.issue_preview {
	font-family: computerModern;
	font-size: 16px;
}

.issue_preview .preview_summary {
	margin: 14px 0 14px 0;
	padding: 10px;
	background: rgb(245, 245, 245);
}

.petition_score {
	float: left;
}

#welcome {
	margin: 20px 0 60px 0;
