#headline {
	background: -20px -100px no-repeat url('../images/logo_huge.png') white;
}

h1.headline_title {
	font-size: 36px;
	font-family: computerModern;
	margin: 0 0 0 0;
	padding: 10px 0 4px 0;
}

#tab_bottom {
	height: 24px;
	background: url('../images/tab_shadow.png');
	border-bottom: solid 1px rgb(200,200,200);
}

.tabs {
	margin: 0 0 0 0;
	height: 24px;
	font-family: ubuntu;
}

.tab, .tab_active, .tab_thin_space, .tab_pre_space, .tab_thick_space {
	float: left;
}

.tab, .tab_active {
	padding: 0px 4px 0 4px;
	border-left: solid 1px rgb(200,200,200);
	border-top: solid 1px rgb(200,200,200);
	border-right: solid 1px rgb(200,200,200);
	background: white;
}

.tab {
	margin-top: 3px;
	height: 20px;
	font-size: 14px;
	background: white repeat-x 100% 100% url('../images/bot_shade.png');
}

.tab_active {
	padding-top: 2px;
	height: 22px;
	font-size: 16px;
}

.tab_thin_space {
	height: 24px;
	width: 4px;
}

.tab_pre_space {
	height: 24px;
	width: 0px;
}


.tab_thick_space {
	height: 24px;
	width: 100px;
}

.main_status_indicator {
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
}

