{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}luminocracy{% endblock title%}
		</title>

		{% block css %}
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/base.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/alacarte.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/widgets.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/forms.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/login.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/jquery-ui.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/style.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/jquery.tagit.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/tagit.ui-zendesk.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/jquery.switchButton.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
		{% endblock css %}

		{% block js %}

			<script type="text/javascript"
				src="//code.jquery.com/jquery-2.1.1.min.js"></script>

			<script 
				src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js">
			</script>

			<script type="text/javascript">
				var ALERT_AJAX_ERRORS = true;
				var STRUCT = false;
				var django ={{ django_vars_js|safe }};
				var handle_ajax_url = '{% url "ajax_json_test" %}';
				$(function () {
					$(document).tooltip();
				});
			</script>

			<script type="text/javascript" 
				src="{% static "digidemo/js/lib.js" %}"></script>

			<script src="{% static "digidemo/js/tag-it.js" %}" 
				type="text/javascript" charset="utf-8"></script>

		{% endblock js %}

		{% block media %}{% endblock media %}

		{% block analytics %}
			<!-- Google Analytics -->
				<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-XXXX-Y', 'auto');
				ga('send', 'pageview');

				</script>
			<!-- End Google Analytics -->
		{% endblock analytics %}

	</head>
	<body>

		{% block body %}

			<!-- Google Tag Manager -->
				<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P6KXSM"
				height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
				<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-P6KXSM');</script>
			<!-- end of tag manager analytics -->

			<!-- start of header -->
			{% include "digidemo/_i_header.html" %}
			<div class="clear"></div>

			<div id="header_spacer">
				<!-- spacer needed because header is positioned absolutely -->
			</div>
			<!-- end of header -->


			{% block headline %}
			{% endblock headline %}

			<!-- content in the middle (vertical middle) of the page -->
			<div id="middle">

				<!-- centering device for the middle of the page layout -->
				<div class="outer_center">
					<div class="inner_center">

						{% block middle %}
						{% endblock middle %}

						<div class="clear"></div>
					</div>
				</div>
				<!-- end of centering device for the middle of the page layout -->

				<div class="clear"></div>

			</div>
			<!-- end of the (vertical) middle of the page layout -->

			<!-- start of page footer -->
			<div id="footer">
				<div class="outer_center">
					<div class="inner_center">
						{% block footer %}
						{% endblock footer %}
					</div>
				</div>
			</div>
			<!-- end of page footer -->

		{% endblock body %}
	</body>
</html>

