{% extends "digidemo/__base.html" %}
{% load staticfiles %}

{% block title %}
	{{ proposal.title }} | {{ block.super }}
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/proposal.css" %}" />
{% endblock css %}


{% block js %}
	{{ block.super }}
	<script type="text/javascript">

		var ALERT_AJAX_ERRORS = true;
		var STRUCT = false;
		var django = {{ django_vars_js|safe }};

		var handle_ajax_url = '{% url "ajax_json_test" %}';

		// Add page behaviors in response to widgets on the page
		$(document).ready(function() {


		});
	</script>
{% endblock js %}

{% block media %}
	{{ media }}
{% endblock media %}


{% block body %}
{% include "digidemo/_w_login_user.html" %}
{% include "digidemo/_i_create_proposal.html" %}
	<div id="header">

		<div class="outer_center">
			<div class="inner_center">

				<div id="colophon">
				</div>

				<!-- logged in user hardcoded temporarily -->
				<div id="user">

				</div>

			</div>
		</div>

	</div>

	<!-- content in the middle (vertical middle) of the page -->
	<div id="middle">

		<!-- start the left column of the central page layout -->
		<div id="left_col">
			{% include "digidemo/_i_main_nav_bar.html" %}
		</div>
		<!-- end the left column of the middle page layout -->

		<!-- centering device for the middle of the page layout -->
		<div class="outer_center">
			<div class="inner_center">

			<!-- 
				this is to prevent overlap with the left col when the 
				view is collapsed 
			-->
			<div id="left_col_spacer"></div>

			<!-- start the (horizontal) center column of middle page layout -->
			<div id="center_col">

				{% include "digidemo/_i_proposal_tabs.html" %}


				<!-- start of overview area -->
				<div id="overview">
					{% block proposal_content %}
					{% endblock proposal_content %}
				</div>
				<!-- end of overview area -->

			</div>
			<!-- end of central column in middle page layout -->


			<!-- start of right column in middle page layout -->
			<div id="right_col">

				<!-- start of proposal sectors -->
				<div class="tags">
					Sectors
					<ul>
						<li>
							<div class="economy_sector_tag">
								Economy
							</div>
						</li>
						<li>
							<div class="environment_sector_tag">
								Environment
							</div>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<!-- end of proposal sectors -->

				<!-- start of tags -->
				<div class="tags">
					Tags
					<ul>
						<li>
							<div class="tag">
								Tar-sands
							</div>
						</li>
						<li>
							<div class="tag">
								CO2
							</div>
							<div class="tag">
								Fossil-fuel
							</div>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<!-- end of tags -->

			</div>
			<!-- end of right column in middle page layout -->

			</div>
		</div>
		<!-- end of centering device for the middle of the page layout -->

	</div>
	<!-- end of the (vertical) middle of the page layout -->

	<!-- start of page footer -->
	<div id="footer">
		<div class="outer_center">
			<div class="inner_center">
				footer
			</div>
		</div>
	</div>
	<!-- end of page footer -->

{% endblock body %}
