{% extends "digidemo/__base.html" %}
{% load staticfiles %}

<!-- add to the css block -->
{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/tabbed.css" %}" />
{% endblock css %}

<!-- pass js block through (can be overriden by inheriting template) -->
{% block js %}
	{{block.super}}
{% endblock js %}

<!-- pass media block through (can be overriden by inheriting template) -->
{% block media %}
	{{block.super}}
{% endblock media %}

<!-- fill in the headline -->
{% block headline %}
	<div id="headline">
		<div class="outer_center">
			<div class="inner_center">
				<h1 id="headline_title" class="headline_title">
					{% block  headline_title %}
						{{ headline }}
					{% endblock headline_title %}
				</h1>
			</div>
		</div>

	<!-- tabs -->
	{% include "digidemo/_w_tabs.html" with tabs=tabs include_id="main_tabs" %}
	<!-- tabs -->

	</div>
{% endblock headline %}
<!-- end of headline -->

<!-- pass middle block through (can be overriden by inheriting template) -->
{% block middle %}
	{{block.super}}
{% endblock middle %}

<!-- pass footer block through (can be overriden by inheriting template) -->
{% block footer %}
	{{block.super}}
{% endblock footer %}


