{% extends "digidemo/__base.html" %}
{% load staticfiles %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/tabbed.css" %}" />
{% endblock css %}

{% block middle %}

	<!-- start of headline -->
	<div id="headline">
		{% block headline %}
			<h1 class="headline_title">
				{% block  headline_title %}
					{{ headline }}
				{% endblock headline_title %}
			</h1>
		{% endblock headline %}

	</div>
	<!-- end of headline -->

	<!-- tabs -->
	{% include "digidemo/_w_tabs.html" with tabs=tabs include_id="main_tabs" %}

	<!-- main page content goes here -->
	{% block maincontent %}
	{% endblock maincontent %}
	<!-- end of main page content -->

	<div class="clear"></div>
{% endblock middle %}
