{% extends "digidemo/__tabbed.html" %}
{% load staticfiles %}


{% block title %}
	{{ proposal.title }} | {{ block.super }}
{% endblock title %}


{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/proposal.css" %}" />
{% endblock css %}


{% block headline %}
	<!-- start of propasal score and icons -->
	<div class="proposal_status_bar">
		{% include "digidemo/_w_vote_form.html" with form=proposal_vote_form include_id="proposal_vote" %}
	</div>
	<!-- end of proposal score and icons -->

	<h1 class="proposal_title">
		{{ proposal.get_latest.title }}
	</h1>
{% endblock headline %}


{% block maincontent %}
	<!-- start the (horizontal) center column of middle page layout -->
	<div id="main_col">

		{% block maincol %}
			<!-- **** -->
		{% endblock maincol %}

	</div>
	<!-- end of central column in middle page layout -->

	<!-- start of right column in middle page layout -->
	<div id="right_col">

		{% block rightcol %}
			<!-- **** -->
		{% endblock rightcol %}

	</div>
	<!-- end of right column in middle page layout -->

{% endblock maincontent %}


{% block footer %}
	footer
{% endblock footer %}

