{% extends "digidemo/__tabbed.html" %}
{% load staticfiles %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/__two_column.css" %}" />
{% endblock css %}

{% block middle %}

	{% block section_title %}
	{% endblock section_title %}

	<!-- start the (horizontal) center column of middle page layout -->
	<div id="main_col">

		{% block maincol %}
			<!-- **** -->
		{% endblock maincol %}

	</div>
	<!-- end of central column in middle page layout -->

	<!-- start of right column in middle page layout -->
	<div id="right_col">

		{% block rightcol %}
			<!-- **** -->
		{% endblock rightcol %}

		<div class="clear"></div>
	</div>
	<!-- end of right column in middle page layout -->

{% endblock middle %}

