<!-- start of the comments area -->
<div id="comments_{{ include_id }}" class="comments">

	{% for comment in comments %}
		{% include "digidemo/_i_comment.html" %}
	{% endfor %}

</div>
<!-- end of comments area -->

<div class="add_comment">
	<a id="_w_toggle_hidden_comment_{{ include_id }}" class="pointer"> 
		add comment
	</a>
	<div id="_w_toggle_hidden_content_comment_{{ include_id }}"
		class="add_comment_toggle_content" >

		{% include "digidemo/_w_ajax_form_id.html" with form=comment_form %}

	</div>
</div>

<script type="text/javascript">

(function(){

	var COMMENT_FORM_ID_PREFIX = '{{ comment_form.form_class }}' + '{{ comment_form.id_prefix }}';
	var COMMENT_TEXTAREA_ID = (
		'#' + COMMENT_FORM_ID_PREFIX + '_text');

	//
	// Create a toggler to show / hide the comment form
	//
	var toggle_div = $('#_w_toggle_hidden_comment_{{ include_id }}');
	var content = $('#_w_toggle_hidden_content_comment_{{ include_id }}');
	var toggler = new ToggleHidden(toggle_div, content);
	register_widget('toggle_hidden_comment_{{ include_id }}', toggler,
		 'toggle_hidden');


	//
	// Bind a callback to the comment form so that when a user 
	// submits a comment, the comment text gets inserted
	//
	$(document).ready(function() {

		// Get the toggler and the comment widget
		var toggler = widgets['toggle_hidden_comment_{{ include_id }}'].widget;
		var comment_widget = widgets[
			'LetterCommentForm_{{ include_id }}'].widget;

		// Define a callback: shows the comment on the page and hides the form
		var show_comment = function(data) {
			$('#comments_{{ include_id }}').append(data.html);
			$(COMMENT_TEXTAREA_ID).val('');
			toggler.toggle();
		};

		// bind the callback to the comment form
		comment_widget.hook('success', show_comment);
	});

}());

</script>
