{% load staticfiles %}




<button id="opener">Create Proposal</button>

<div id="dialog" title="Create Proposal" >
	<p>  Proposal Name  </p>
	<textarea rows = "1" cols="50">Proposal text</textarea>
	<p>  Proposal Summary  </p>
	<textarea rows = "15" cols="50"> Enter your summary</textarea>
	<p> Proposal Text  </p>
	<textarea rows = "20" cols="50"> Enter your Text</textarea>
	<p> Tags </p>
		<input name="tags" id="singleFieldTags2" value="Apple, Orange">
</div>


<script>

        $(function(){

            $('#singleFieldTags2').tagit();

           
        });
  $(function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
        height:  $(window).width()*0.7,
        width: $(window).width()*0.5,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $( "#opener" ).click(function() {
      $( "#dialog" ).dialog( "open" );
    });
  });



$(document).ready(function(){
  $('#login-trigger').click(function(){
    $(this).next('#login-content').slideToggle();
    $(this).toggleClass('active');          
    
    if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
      else $(this).find('span').html('&#x25BC;')
    })
});

$( "#submit" ).click(function( event ) {
  	  $.ajax({
   	   url:"http://127.0.0.1:8000/ajaxLogin",
	   type: 'GET',
   	   async: false,
           data: {
               username: document.getElementById('username').value,
           	password: document.getElementById('password').value,
               csrfmiddlewaretoken: '{{ csrf_token }}'
                },  
      	   success:function(data) {
		data=data.replace(/(\r\n|\n|\r)/gm,"");
		if(data=="accepted"){
		$("#login-div").html("<nav><ul><li id=\"login-trigger\">Welcome   "+  document.getElementById('username').value+"</li></ul></nav>");
		 location.reload();
		}
 	}
   });
});

$( "#logout" ).click(function( event ) {
  	  $.ajax({
   	   url:"http://127.0.0.1:8000/ajaxLogout",
	   type: 'GET',
   	   async: false,
           data: {
               csrfmiddlewaretoken: '{{ csrf_token }}'
                },  
      	   success:function(data) {
		 location.reload();
		}
 	
   });
});



</script>