{% load i18n %}
{% load staticfiles %}
{% load apptags %}

<div id="top_line">
	{% change_lang %}
</div>
<div id="header">

	<div id="left_header_group">
		<a id="site_name" href="{% url "index" %}">
			luminocracy
		</a>
		<div id="colophon">
		</div>
		<div id="tagline">
			Read. Discuss. Act.
		</div>
	</div>

	<div id="right_header_group">
		<!--a class="header_link">
			by topic
		</a>
		<a class="header_link">
			unanswered
		</a-->
		<a id="search" class="menu_container">
		</a>

		<div class="float_left">
			{% include "digidemo/_w_login_user.html" %}
		</div>
	</div>

	<div class="clear"></div>

</div>


