{% load staticfiles %}
<!-- start of an open letter -->
<div id="letter_{{ include_id }}" class="letter">

	<!-- score and icons for the letter -->
	<div class="letter_status_bar">
		{% include "digidemo/_w_vote_form.html" with form=letter_section.vote_form %}

		<div class="resend"><span class="resend_count">7</span><img class="resend_widget" src="{% static "digidemo/images/mail.png" %}" /></div>
		{% if letter.valence < 0 %}
		<img class="letter_valence"
		src="{% static "digidemo/images/oppose.png" %}"
		alt="support" />
		{% elif letter.valence > 0 %}
		<img class="letter_valence"
		src="{% static "digidemo/images/support.png" %}"
		alt="support" />
		{% else %}
		<img class="letter_valence"
		src="{% static "digidemo/images/ammend.png" %}"
		alt="support" />
		{% endif %}

	</div>
	<!-- end score and icons for the letter -->

	<!-- start the content of the letter -->
	<div class="letter_main">

		<div class="recipients">
			Attention:
			{% for recipient in letter.recipients.all %}
			<br \><span class="recipient_title">
				{{ recipient.name }}</span>,
			<span class="recipient_name">
				{{ recipient.person.fname|capfirst }}
				{{ recipient.person.lname|capfirst }}
			</span>
			{% endfor %}
		</div>

		<div class="clear"></div>

		<div class="letter_body">
			{{ letter.body|truncatewords:100 }}
			{% if letter.body|wordcount > 100 %}
			<a href="#">view full letter</a>
			{% endif %}
		</div>

		<!-- start the list of senders -->
		<div class="senders">
			<!-- the original sender of the letter -->
			<div class="sender">
				<div class="sender_avatar_image">
					<img class="avatar_image_medium"
					src="{{ letter.sender.avatar_img.url }}"
					alt="{{ letter.sender.user_name }}" />

					<img class="avatar_mask_medium"
					src="{% static "digidemo/images/avatar_mask.png" %}" />
				</div>

				<div class="sender_name_and_bling">
					<div class="sender_name">
						{{ letter.sender.user_name }}
					</div>
					<div class="sender_bling">
						14.7 k &nbsp;&nbsp; 13 
						<img src="{% static "digidemo/images/bronze.png" %}" alt="bronze badge" />
					</div>
				</div>
			</div>
			<!-- end of original sender -->

			<!-- people that have resent the letter -->
			<div class="resending">


				<!-- this div gets its id based on the letter resend form
				id so that js can bind resinding event to loading the
				letter's avatar here --> 
				<div class="resenders_single_row" 
					id="{{ include_id }}_resenders" >

						{% for resender in letter.resenders.all %}
						{% include "digidemo/_i_resender_avatar.html" %}
						{% endfor %}

					<div class="clear"></div>
				</div>
				<a id="_w_toggle_hidden_{{include_id}}" 
					class="send_letter pointer">
					send a version of this letter
				</a>

			</div>
			<!-- end of re-senders  -->

			<div class="clear"></div>

		</div>
		<!-- end of letter senders area -->

		<div class="clear"></div>

		<div id="_w_toggle_hidden_content_{{include_id}}" 
			class="resend_letter_form_area">
			{% include "digidemo/_w_add_letter.html" with form=letter_section.resend_form %}
		</div>
		{% include "digidemo/_w_toggle_hidden.html" with widget_id=include_id %}

		<div class="clear"></div>

		<!-- start of the letter comments area -->
		<div class"letter_comments">
			{% for comment in letter.comment_set.all %}
			<div class="letter_comment">
				<span class="letter_comment_body">
					{{ comment.body }}
				</span>
				<span class="comment_author">
					~ {{ comment.author.user_name }}
				</span>
			</div>
			{% endfor %}


			{% with widget_id="comment_"|add:i %}
			<div class="add_comment">
				<a id="_w_toggle_hidden_{{ widget_id }}" class="pointer"> 
					add comment
				</a>
				<div id="_w_toggle_hidden_content_{{ widget_id }}"
					class="add_comment_toggle_content" >
					<form 
						method="POST"
						action="{% url "proposal" proposal.name %}">
					{{ comment_form.non_field_errors }}
					{% csrf_token %}
					{{ comment_form.body.errors }}
					{{ comment_form.body }}
					{{ comment_form.letter.errors }}
					<input type="hidden" name="letter" 
						value="{{ letter.id }}" />
					{{ comment_form.author.errors }}
					<input type="hidden" name="author" 
						value="{{ logged_in_user.id }}" />
					<input type="submit" value="post" />
					</form>
				</div>
			</div>
			{% include "digidemo/_w_toggle_hidden.html" %}
			{% endwith %}

		</div>
		<!-- end of letter comments area -->
	</div> 
	<!-- end of letter main content -->

</div>
<!-- end of a letter -->

<script type="text/javascript">
	$('document').ready(function() {

		// get the resend letter widget, and the resender list
		var resend_letter_form = widgets[
			'{{letter_section.resend_form.form_id}}']['widget'];
		var resender_list = widgets['resender_list_{{include_id}}']['widget'];

		// make a callback function -- when the user resends a letter, she
		// will get added to the resender list
		var callback = function(rsl) {
			return function() {
				rsl.add_user(django.user.pk);
			};
		}(resender_list);

		// now bind this function to the resend letter widget's hook
		resend_letter_form.pagehooks.success = callback;
	})

	// get the list of existing senders for this letter
	var existing_senders = [
		{{ letter.sender.pk }}{% if letter.resenders|length > 0 %},{% endif %}
		{% for resender in letter.resenders.all %}
			{{ resender.pk }}{% if not forloop.last %},{% endif %}
		{% endfor %}
	];

	var resender_list = new ResenderList(
		$('#{{include_id}}_resenders'),
		existing_senders
	);


	// register the resender widget to the page
	register_widget('resender_list_{{ include_id }}', resender_list, 
		'resender_list');

</script>
