{% load staticfiles %}
<!-- start of an open letter -->
<div id="letter_{{ include_id }}" class="letter">

	<!-- score and icons for the letter -->
	<div class="letter_status_bar">
		{% include "digidemo/_w_vote_form.html" with form=letter_section.vote_form %}

		<div class="resend"><span class="resend_count">7</span><img class="resend_widget" src="{% static "digidemo/images/mail.png" %}" /></div>
		{% if letter.valence < 0 %}
		<img class="letter_valence"
		src="{% static "digidemo/images/oppose.png" %}"
		alt="support" />
		{% elif letter.valence > 0 %}
		<img class="letter_valence"
		src="{% static "digidemo/images/support.png" %}"
		alt="support" />
		{% else %}
		<img class="letter_valence"
		src="{% static "digidemo/images/ammend.png" %}"
		alt="support" />
		{% endif %}

	</div>
	<!-- end score and icons for the letter -->

	<!-- start the content of the letter -->
	<div class="letter_main">

		<div class="recipients">
			Attention:
			{% for recipient in letter.recipients.all %}
			<br \><span class="recipient_title">
				{{ recipient.name }}</span>,
			<span class="recipient_name">
				{{ recipient.person.fname|capfirst }}
				{{ recipient.person.lname|capfirst }}
			</span>
			{% endfor %}
		</div>

		<div class="clear"></div>

		<div class="letter_body">
			{{ letter.body|truncatewords:100 }}
			{% if letter.body|wordcount > 100 %}
			<a href="#">view full letter</a>
			{% endif %}
		</div>

		<!-- start the list of senders -->
		<div class="senders">

			{% include "digidemo/_i_user_id.html" with user=letter.sender %}

			<!-- people that have resent the letter -->
			<div class="resending">

				<!-- this div gets its id based on the letter resend form
				id so that js can bind resinding event to loading the
				letter's avatar here --> 
				<div class="resenders_single_row" 
					id="{{ include_id }}_resenders" >

						{% for resender in letter_section.resenders %}
						{% include "digidemo/_i_resender_avatar.html" %}
						{% endfor %}

					<div class="clear"></div>
				</div>
				<a id="_w_toggle_hidden_{{include_id}}" 
					class="send_letter pointer">
					send a version of this letter
				</a>

			</div>
			<!-- end of re-senders  -->

			<div class="clear"></div>

		</div>
		<!-- end of letter senders area -->

		<div class="clear"></div>

		<div id="_w_toggle_hidden_content_{{include_id}}" 
			class="resend_letter_form_area">
			{% include "digidemo/_w_add_letter.html" with form=letter_section.resend_form include_id=include_id %}
		</div>

		<div class="clear"></div>

		<!-- start of the letter comments area -->
		<div id="letter_comments_{{ include_id }}" class="letter_comments">

			{% for comment in letter.comment_set.all %}
				{% include "digidemo/_i_letter_comment.html" %}
			{% endfor %}

		</div>
		<!-- end of letter comments area -->

		<div class="add_comment">
			<a id="_w_toggle_hidden_comment_{{ include_id }}" class="pointer"> 
				add comment
			</a>
			<div id="_w_toggle_hidden_content_comment_{{ include_id }}"
				class="add_comment_toggle_content" >

				{% include "digidemo/_w_letter_comment.html" with form=letter_section.comment_form include_id=include_id %}

			</div>

	</div> 
	<!-- end of letter main content -->

</div>
<!-- end of a letter -->

<script type="text/javascript">

	//
	// Create a resender list widget using elements on the page
	//
	// get the list of existing senders for this letter
	var existing_senders = [
		{{ letter.sender.pk }}{% if letter.resenders|length > 0 %},{% endif %}
		{% for resender in letter.resenders.all %}
			{{ resender.pk }}{% if not forloop.last %},{% endif %}
		{% endfor %}
	];

	var resender_list = new ResenderList(
		$('#{{include_id}}_resenders'),
		existing_senders
	);

	// register the resender widget to the page
	register_widget('resender_list_{{ include_id }}', resender_list, 
		'resender_list');


	//
	// Create a toggler to show / hide the resend letter form
	//
	var toggle_div = $('#_w_toggle_hidden_{{ include_id }}');
	var content = $('#_w_toggle_hidden_content_{{ include_id }}');
	var toggler = new ToggleHidden(toggle_div, content);
	register_widget('toggle_hidden_{{ include_id }}', 
		toggler, 'toggle_hidden');



	//
	// Create a toggler to show / hide the comment form
	//
	var toggle_div = $('#_w_toggle_hidden_comment_{{ include_id }}');
	var content = $('#_w_toggle_hidden_content_comment_{{ include_id }}');
	var toggler = new ToggleHidden(toggle_div, content);
	register_widget('toggle_hidden_comment_{{ include_id }}', toggler,
		 'toggle_hidden');



	//
	// Bind a callback to the resend_letter_form which adds a user's avatar
	// to the list of resenders when they resend a letter
	//
	$('document').ready(function() {

		// get the resend letter widget, and the resender list
		var resend_letter_form = widgets[
		'{{letter_section.resend_form.form_class}}_{{include_id}}']['widget'];
		var resender_list = widgets['resender_list_{{include_id}}']['widget'];

		// make a callback function -- when the user resends a letter, she
		// will get added to the resender list
		var callback = function(rsl) {
			return function() {
				rsl.add_user(django.user.pk);
			};
		}(resender_list);

		// now bind this function to the resend letter widget's hook
		resend_letter_form.hook('success', callback);
	})



	//
	// Bind a callback to the comment form so a comment that when a user 
	// submits a comment, the comment text gets inserted
	//
	$(document).ready(function() {
		var comment_widget = widgets[
			'LetterCommentForm_{{ include_id }}'].widget;
		var show_comment = function(new_comment) {
			$('#letter_comments_{{ include_id }}').append(new_comment);
		};
		comment_widget.hook('success', show_comment);
	});
</script>
