<!-- start the left navigation bar -->

<!-- The login template exists on the navigation bar , existed in the "__tabbed.html" previously , now moved to the new location -->

{% include "digidemo/_w_login_user.html" %}

<div id="navbar">
	<a class="{% if active_navitem == "issues" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "mainPage" %}">
			Issues
	</a>

	<a class="{% if active_navitem == "topics" %}navitem_active{% else %}navitem{% endif %}">
		Topics
	</a>

	<a class="{% if active_navitem == "questions" %}navitem_active{% else %}navitem{% endif %}">
		Questions
	</a>

	<a class="{% if active_navitem == "users" %}navitem_active{% else %}navitem{% endif %}">
		Users
	</a>

	<a class="{% if active_navitem == "create" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "add_proposal" %}" >
		+ create
	</a>

</div>

<div id="search_bar">
	<form type="get" action="{% url "search" %}">  
		Search:
		<input type="text" name="q" />
		<button type="submit">Go</button>
	</form>
</div>
<!-- end the left navigation bar -->
