<!-- start the left navigation bar -->

<!-- The login template exists on the navigation bar , existed in the "__tabbed.html" previously , now moved to the new location -->

{% include "digidemo/_w_login_user.html" %}

<div id="navbar">
	<a class="{% if active_navitem == "issues" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "issue_list" order_by="interesting" %}">
			Issues
	</a>

	<a class="{% if active_navitem == "topics" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "topics" %}">
		Topics
	</a>

	<a class="{% if active_navitem == "questions" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "all_questions_list" order_by="interesting" %}">

		Questions
	</a>

	<a class="{% if active_navitem == "petitions" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "all_petitions_list" order_by="interesting" %}">
		Petitions
	</a>

	<a class="{% if active_navitem == "users" %}navitem_active{% else %}navitem{% endif %}">
		Users
	</a>

	<a class="create_navitem {% if active_navitem == "create" %}navitem_active{% else %}navitem{% endif %}"
		href="{% url "add_proposal" %}" >
		+ create
	</a>

</div>

<div id="search_bar">
	<form type="get" action="{% url "search" %}">  
		<input type="text" name="q" />
		<input type="submit" value="Go" />
	</form>
</div>
<!-- end the left navigation bar -->
