<!-- start the left navigation bar -->
<div id="navbar">
	<ul>

		<li class="navitem">
			feed
		</li>

		<li class="navitem">
			watchlist
		</li>

		<li class="navitem">
			active
		</li>

		<li class="navitem">
			new
		</li>

		<li class="navitem">
			random 
		</li>

		<div class="nav_horizontal_bar"></div>

		<li class="navitem">
			+ create
		</li>

		<div class="nav_horizontal_bar"></div>

		<li class="navitem">
			Montreal
		</li>

		<li class="navitem">
			Quebec
		</li>

		<li class="navitem">
			Canada
		</li>


	</ul>
</div>
<!-- end the left navigation bar -->
