<!-- start reply div -->
<div class="subpost">

	<div class="subpost_status_indicator">
	{% include "digidemo/_w_vote_form.html" with form=post_section.vote_form %}
	</div>

	<!-- start reply main area -->
	<div class="subpost_main_area">
		<div class="subpost_user">
			{% include "digidemo/_i_user_id.html" with user=post_section.post.user %}
		</div>
		<div class="subpost_body">{{ post_section.post.text }}</div>
		<div class="clear"></div>
	</div>
	<!-- end reply main area -->

	<div class="clear"></div>
</div>
<!-- end reply -->

