<!-- start tabs at the top of the proposal -->
<div id="main_tabs" class="tabs">

	<a href="{{ proposal.get_overview_url }}"
	class="{% if tab == "overview" %}tab_active{% else %}tab{% endif %}">
			Overview
	</a>

	<div class="tab_thin_space"></div>

	<a href="{{ proposal.get_proposal_url }}"
	class="{% if tab == "proposal" %}tab_active{% else %}tab{% endif %}">
			Proposal
	</a>

	<div class="tab_thin_space"></div>

	<a href="{{ proposal.get_discussion_url }}"
	class="{% if tab == "discuss" %}tab_active{% else %}tab{% endif %}">
			Discuss
	</a>

	<div class="tab_thin_space"></div>

	<a href="{{ proposal.get_edit_url }}"
	class="{% if tab == "edit" %}tab_active{% else %}tab{% endif %}">
			Edit
	</a>
	
	<div id="tab_bottom"></div>
</div>
<!-- end tabs at the top of the proposal -->
