<!-- start reply div -->
<div class="reply">

	<div class="proposal_status_bar">
	{% include "digidemo/_w_vote_form.html" with form=reply.vote_form include_id=include_id %}
	</div>

	<!-- start reply main area -->
	<div class="reply_main_area">

		<!-- start first post -->
		<div class="first_post">
			<div class="reply_user">
				{% include "digidemo/_i_user_id.html" with user=reply.content.user %}
			</div>
			<div class="reply_body">{{ reply.content.text }}</div>
			<div class="clear"></div>

			<div class="clear"></div>
		</div>
		<!-- end first post -->

		<div class="clear"></div>
	</div>
	<!-- end reply main area -->

	<div class="clear"></div>
</div>
<!-- end reply -->

