<!-- start discussion div -->
<div class="post">

	<div class="post_status_indicator">
	{% include "digidemo/_w_vote_form.html" with form=post_section.vote_form %}
	</div>

	<!-- start discussion main area -->
	<div class="post_main_area">
			<h2 id="post__title" class="post_title">
				{{ post_section.post.title }}
			</h2>
			<div class="post_user">
				{% include "digidemo/_i_user_id.html" with user=post_section.post.user %}
			</div>
			<div id="post__body" class="post_body">
				{{ post_section.post.text }}
			</div>
			<div class="clear"></div>
	</div>
	<!-- end discussion main area -->

	<div class="clear"></div>

</div>
<!-- end discussion -->

