{% load staticfiles %}
<div class="sender">
	<div class="sender_avatar_image">
		<img class="avatar_image_medium"
		src="{{ user.profile.get_avatar_img_url }}"
		alt="{{ user.username }}" />

		<img class="avatar_mask_medium"
		src="{% static "digidemo/images/avatar_mask.png" %}" />
	</div>

	<div class="sender_name_and_bling">
		<div class="sender_name">
			{{ user.profile.rep }} {{ user.username }}
		</div>
		<!--div class="sender_bling">
			{{ user.profile.rep }} &nbsp;&nbsp; 13 
			<img src="{% static "digidemo/images/bronze.png" %}" alt="bronze badge" />
		</div-->
	</div>
</div>
<!-- end of original sender -->
