<form class="{{ form.form_class}}" id="{{ form.form_id }}" />

	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
	<div class="form_line">
		{{ field }}
	</div>
	{% endfor %}

	<input id="{{ form.form_id }}_submit" class="submit_letter" type="button" value="send" />
</form>

<!-- arm the submit button to submit the form to an ajax endpoint -->
<script type="text/javascript">

	register_form(
		'{{ form.form_id }}',
		'{{ form.endpoint }}',
		'{{ form.form_class}}',
		'{{ form.form_id }}_submit'
	);

</script>
