{% load i18n %}
{% block ajax_form_form %}
	<form class="{{ form.form_class}}" 
		id="{{ form.form_class }}_{{ form.id_prefix }}">

		{% csrf_token %}

		<div class="form_errors"
			id="{{form.form_class}}_{{form.id_prefix}}_errors">
		</div>

		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			<div class="form_line">
				<div class="field_errors" id="{{field.id_for_label}}_errors">
				</div>
				{{ field }}
			</div>
		{% endfor %}

		<input id="{{ form.form_class}}_{{ form.id_prefix }}_submit" 
		class="submit_letter" type="button" value="{% trans "submit" %}" />
	</form>
{% endblock ajax_form_form %}

{% block ajax_form_script %}
<!-- arm the submit button to submit the form to an ajax endpoint -->
<script type="text/javascript">

(function(){
	register_form(
		'{{ form.form_class}}_{{ form.id_prefix }}',
		'{{ form.endpoint }}',
		'{{ form.form_class}}',
		'{{ form.form_class}}_{{ form.id_prefix }}_submit'
	);
}());

</script>
{% endblock ajax_form_script %}
