{% load apptags %}
{% load staticfiles %}
{% load i18n %}
	


<div id = "message">  </div>
     <div class="demo" id="basic">

{% if request|getFollowPostStatus:proposal.id == "unlogged" %}
<form>
	<input type="radio" name="PostFollow" id="followPost" value="follow" onClick="handleClick(this)">{% trans "Follow Post" %}<br>
<input type="radio" name="PostFollow" id="unfollowPost" value="unfollow" onClick="handleClick(this)">{% trans "Unfollow Post" %}
</form>
{% elif request|getFollowPostStatus:proposal.id == "following" %}
<form>
	<input type="radio" name="PostFollow" id="followPost" value="follow" onClick="handleClick(this)" checked />{% trans "Follow Post" %}<br>
<input type="radio" name="PostFollow" id="unfollowPost" value="unfollow" onClick="handleClick(this)">{% trans "Unfollow Post" %}
</form>
{% else %}
<form>
	<input type="radio" name="PostFollow" id="followPost" value="follow" onClick="handleClick(this)">{% trans "Follow Post" %}<br>
	<input type="radio" name="PostFollow" id="unfollowPost" value="unfollow" onClick="handleClick(this)" checked />{% trans "Unfollow Post" %}
</form>
{% endif %}

      </div>


 <script>

	$('#message').hide();


	var ID ="{{ proposal.id }}";
	var URL = "{% url "handle_ajax_json" "follow_post" %}";
	
	function handleClick(cb) {
		
			
  	  $.ajax({
   	   url:URL,
	   type: 'POST',
   	   async: true,
           data: {
		id : ID,
               csrfmiddlewaretoken: '{{ csrf_token }}'
                },  
	   success:function(data) { 
		data=data.replace(/(\r\n|\n|\r)/gm,"");
		data=data.replace(/"/g, ""); 
		data = data.replace(/[^a-zA-Z0-9]/g,'_');
		if(data == "unlogged") {
			$('#message').html("User Not logged in")
			$('#message').show();
			$('#message').delay(2000).fadeOut('slow');
			document.getElementById('followPost').checked = false;
			document.getElementById('unfollowPost').checked = false;
			} 
		} 
});
	}

</script>
