{% load staticfiles %}
{% load apptags %}
{% load i18n %}


	<!-- if user logged in, show greeting, profile link, and logout button -->
	{% if request|getLoggedInUser != "false" %}
		<div id="logged_in_div" class="logged_in_div">

			<img class="avatar_image_small"
				src="{{ user.profile.get_avatar_img_url }}"
				alt="{{ user.username }}" />


			<div id="logged_in_menu_locator">
				<div id="logged_in_menu" class="header_menu">
					<div class="chebyshev"></div>
					<a 
						href="{% url "userProfile" request|getLoggedInUser %}">
						{% trans "profile" %}
					</a>	
					<a id="logout">
						{% trans "logout" %}
					</a>	
					<a>
						{% trans "my questions" %}
					</a>	
					<a>
						{% trans "my issues" %}
					</a>	
					<a>
						{% trans "recent stuff" %}
					</a>	
				</div>
			</div>

		</div>

		<div id="notifications_div" class="notifications_div">
			{%  if GLOBALS.NUM_UNSEEN_NOTIFICATIONS > 0 %}
				<div id="notifications_icon" class="has_notifications">
					{{ GLOBALS.NUM_UNSEEN_NOTIFICATIONS }}
				</div>
			{% else %}
				<div id="notifications_icon" class="no_notifications">
				</div>
			{% endif %}

			<div id="notifications_menu_locator">
				<div id="notifications_menu" class="header_menu">
					<div class="chebyshev"></div>
					{% for notification in GLOBALS.NOTIFICATIONS %}
						<a notification="{{notification.pk}}" 
							{% if notification.was_checked %}
								class="notification_checked"
							{% else %}
								class="notification_unchecked"
							{% endif %}
							href="{{notification.link_back}}"> 
								{{notification.message}} 
						</a>
					{% endfor %}
					{% if GLOBALS.NOTIFICATIONS|length < 1 %}
						<div class="empty_notifications_div"> 
							{% trans "no notifications!" %}
						</div>
					{% endif %}
					<form id="register_notifications_seen_form">
						<input type="hidden" 
							value="{{GLOBALS.UNSEEN_NOTIFICATION_PKS}}"
							name="notification_pks" />
					</form>
				</div>
			</div>

		</div>

		<!-- Arm the notifications menu behaviors -->
		<script type="text/javascript">
		(function(){
			// arm unchecked notifications so that they flag themselves as 
		 	// "seen" when clicked
		 	var notifications = $('.notification_unchecked');
			notifications.click(function (e) {
				ajax(
					'register_notification_checked',
					{'notification_pk':$(this).attr('notification')},
					{'error':noop,'success':noop}
				)
			});

		 	// make menu items hightlight on mouseover
		 	function highlight(e) {
				$(this).addClass('menu_item_highlight');
			}
			function unhighlight(e) {
				$(this).removeClass('menu_item_highlight');
			}
			menu_items = $('.header_menu a').on({
				'mouseover': highlight,
				'mouseout': unhighlight
			});

			var notifications_div = $('#notifications_div');
			var notifications_menu = $('#notifications_menu');
			var notifications_icon = $('#notifications_icon');
			var register_notifications_form = $('#register_notifications_form');

			// register the register_notifications_form.
			// Note, we're using the notifications_div as a submit button
			register_form(
				'register_notifications_seen_form',
				'register_notifications_seen',
				'notification_form',
				'notifications_div'
			);

			// clicking in the search form doesn't bubble up to be a 
			// click on the search button
			notifications_menu.click(function(e){
				e.stopPropagation();
			});

			var tog = new ToggleHidden(notifications_div, notifications_menu);
			function style_logged_in_div() {
				notifications_div.addClass('notifications_div_active');
				notifications_div.removeClass('notifications_div');
			}
			function unstyle_logged_in_div() {
				notifications_div.addClass('notifications_div');
				notifications_div.removeClass('notifications_div_active');
			}
			function clear_notifications_icon() {
				notifications_icon.addClass('no_notifications');
				notifications_icon.removeClass('has_notifications');
				notifications_icon.text('');
			}
			function on_hide() {
				unstyle_logged_in_div();
				clear_notifications_icon();
			}

			tog.hook('on_show', style_logged_in_div);
			tog.hook('on_hide', on_hide);

			// clicking out of the search area gets rid of notifications div
			doc_event_registrar.on('click', function(e){
				tog.hide();
			});
			// ensure that clicking the search button doesn't bubble
			// up to the document.click we just established
			notifications_div.click(function(e) {
				e.stopPropagation();
			});

		})();
		</script>

		<!-- Arm the logged-in menu behaviors -->
		<script type="text/javascript">
		(function(){

			var RELOAD_URL = '{% url "do_reload" %}';
			var logged_in_div = $('#logged_in_div');
			var logged_in_menu = $('#logged_in_menu');

			// clicking in the search form doesn't bubble up to be a 
			// click on the search button
			logged_in_menu.click(function(e){
				e.stopPropagation();
			});

			var tog = new ToggleHidden(logged_in_div, logged_in_menu);
			function style_logged_in_div() {
				logged_in_div.addClass('logged_in_div_active');
				logged_in_div.removeClass('logged_in_div');
			}
			function unstyle_logged_in_div() {
				logged_in_div.addClass('logged_in_div');
				logged_in_div.removeClass('logged_in_div_active');
			}

			tog.hook('on_show', style_logged_in_div);
			tog.hook('on_hide', unstyle_logged_in_div);

			// clicking out of the search area gets rid of search form
			doc_event_registrar.on('click', function(e){
				tog.hide();
			});
			// ensure that clicking the search button doesn't bubble
			// up to the document.click we just established
			logged_in_div.click(function(e) {
				e.stopPropagation();
			});

			// make clicking the logout cause a logout and reload the page
			$( "#logout" ).click(function( event ) {
				ajax('ajax_logout', {}, {
					'success': function(){
						window.location = RELOAD_URL;
					},
					'error': function(){alert('error')}
				})
			});
		})();
		</script>

	</script>
	<!-- otherwise, show login form and register link -->
	{% else %}

			<div class="header_link">

				<a id="login_div" class="login_div">{% trans "login" %} </a>

				<div id="login_menu_locator">
					<div id="login_form_div" class="header_menu">

						<div class="chebyshev"></div>

						{% include "digidemo/_w_login_form.html" with form=GLOBALS.LOGIN_FORM %}
						<a id="forgot_link" 
							href="{% url "resetPassword" %}">
							{% trans "forgot?" %}
						</a>
					</div>
				</div>

			</div>

			<div class="header_link_last menu_container">
				<a id="register_div" href="{% url "userRegistration" %}">
					{% trans "register" %}
				</a>
			</div>

		<!-- arm events in the login form -->
		<script type="text/javascript">
		(function(){
			var RELOAD_URL = '{% url "do_reload" %}';
			var INVALID_EMAIL_URL = '{% url "invalid_email" %}';

			var login_div = $('#login_div');
			var login_form_div = $('#login_form_div');

			var login_form_class = '{{ GLOBALS.LOGIN_FORM.form_class}}';
			var login_prefix_id = '{{ GLOBALS.LOGIN_FORM.id_prefix }}';
			var login_form_id = login_form_class + '_' + login_prefix_id;

			var login_submit = $('#' + login_form_id + '_submit');
			var login_errors = $('#' + login_form_id + '_errors');
			var login_username = $('#' + login_form_id + '_username');
			var login_password = $('#' + login_form_id + '_password');


			// clicking in the login form doesn't bubble up to be a 
			// click on the login_div
			login_form_div.click(function(e){
				e.stopPropagation();
			});

			// Arm the login form to show / hide
			var tog = new ToggleHidden(login_div, login_form_div);
			function style_login_div() {
				login_div.addClass('login_div_active');
				login_div.removeClass('login_div');
				// place the cursor in the username field
				login_username.focus();
			}
			function unstyle_login_div() {
				login_div.addClass('login_div');
				login_div.removeClass('login_div_active');
			}

			tog.hook('on_show', style_login_div);
			tog.hook('on_hide', unstyle_login_div);

			// clicking out of the login area gets rid of search form
			doc_event_registrar.on('click', function(e){
				tog.hide();
				// clear the password field when login form is hidden
				login_password.val('');
			});
			// ensure that clicking the login button doesn't bubble
			// up to the document.click we just established
			login_div.click(function(e) {
				e.stopPropagation();
			});

			// make clicking the logout cause a logout and reload the page
			$( "#logout" ).click(function( event ) {
				ajax('ajax_logout', {}, {
					'success': function(){
						window.location = RELOAD_URL;
					},
					'error': function(){alert('error')}
				})
			});


			// upon next submission
			login_submit.click(function() {
				login_errors.html('');
			});

			// make it so that hitting the enter key submits the ajax login form
			login_username.keydown(function(e){
				if(e.which == 13) {
					login_errors.html('');
					widgets[login_form_id].widget.submit();
				}
			});
			login_password.keydown(function(e){
				if(e.which == 13) {
					login_password.html('');
					widgets[login_form_id].widget.submit();
				}
			});

			// define a callback to be executed after a successful login
			var login_success_callback = function(data) {
				if(data.email_valid) {
					window.location = RELOAD_URL;
				} else {
					window.location = INVALID_EMAIL_URL;
				}
			}

			// define a callback to be executed when login fails
			var login_error_callback = function(data) {
				login_errors.html(
					"{% trans "Incorrect username or password" %}");
			}

			// bind the callbacks to the login widget
			$(document).ready(function(){
				widgets[login_form_id].widget.hook('success', login_success_callback);
				widgets[login_form_id].widget.hook('error', login_error_callback);
			});

		})();
		</script>


	{% endif %}

<script>
</script>
