{% load staticfiles %}
{% load apptags %}

	<div id="login_div">

	<!-- if user logged in, show greeting, profile link, and logout button -->
	{% if request|getLoggedInUser != "false" %}

		Welcome,&nbsp;
		<a href="{% url "userProfile" request|getLoggedInUser %}">
			{{request|getLoggedInUser}}
		</a>


	<!-- otherwise, show login form and register link -->
	{% else %}

		<a href="{% url "userRegistration" %}">register</a>
			|
			<span>
				login

				<form id="login_form">
					<input id="username" type="text"
						name="username" placeholder="username" />
					<input id="password" type="password"
						name="password" placeholder="password" />

					<input type="button" id="submit_login" value="Log in" />
					<a href="{% url "resetPassword" %}">Reset password</a>
				</form>
			</span>

	{% endif %}
	</div>

<script>
(function(){

	RELOAD_URL = '{% url "do_reload" %}';

	// arm the login triger to slide open / closed the login form
	$('#login-trigger').click(function(){
		$(this).next('#login-content').slideToggle();
		$(this).toggleClass('active');
		
		if ($(this).hasClass('active')) {
			$(this).find('span').html('&#x25B2;')

		} else {
			$(this).find('span').html('&#x25BC;')
		}
	})

	// register the login as an ajax form widget
	register_form('login_form', 'ajax_login', 'login_form', 'submit_login')

	// define a callback to be executed after a successful login
	var login_success_callback = function(data) {
		$("#login_div").html(
			"<nav><ul><li id=\"login-trigger\">Welcome "
			+ document.getElementById('username').value
			+ "</li></ul></nav>"
		);
		window.location = RELOAD_URL;
	}

	// define a callback to be executed when login fails
	var login_error_callback = function(data) {
		alert('could not log in');
	}

	// bind the callbacks to the login widget
	$(document).ready(function(){
		widgets['login_form'].widget.hook('success', login_success_callback);
		widgets['login_form'].widget.hook('error', login_error_callback);
	});

	// make clicking the logout cause a logout and reload the page
	$( "#logout" ).click(function( event ) {
		ajax('ajax_logout', {}, {
			'success': function(){
				window.location = RELOAD_URL;
			},
			'error': function(){alert('error')}
		})
	});

}());




</script>
