{% load staticfiles %}
{% load apptags %}


	<!-- if user logged in, show greeting, profile link, and logout button -->
	{% if request|getLoggedInUser != "false" %}
		<div id="logged_in_div" class="logged_in_div">
			<div class="sender_avatar_image">
				<img class="avatar_image_medium"
				src="{{ user.profile.get_avatar_img_url }}"
				alt="{{ user.username }}" />

				<img class="avatar_mask_medium"
				src="{% static "digidemo/images/avatar_mask.png" %}" />
			</div>

			<div id="logged_in_menu" class="header_menu">
				<div class="border_cover_med"></div>
				<a 
					href="{% url "userProfile" request|getLoggedInUser %}">
					profile
				</a>	
				<a id="logout">
					logout
				</a>	
				<a>
					my questions
				</a>	
				<a>
					my issues
				</a>	
				<a>
					recent stuff
				</a>	
			</div>

		</div>

		<div id="notifications_div" class="notifications_div">
			{%  if GLOBALS.NUM_UNSEEN_NOTIFICATIONS > 0 %}
				<div id="notifications_icon" class="has_notifications">
					{{ GLOBALS.NUM_UNSEEN_NOTIFICATIONS }}
				</div>
			{% else %}
				<div id="notifications_icon" class="no_notifications">
				</div>
			{% endif %}
			<div id="notifications_menu" class="header_menu">
				<div class="border_cover_short"></div>
				{% for notification in GLOBALS.NOTIFICATIONS %}
					<a notification="{{notification.pk}}" 
						class="notification"
						href="{{notification.link_back}}"> 
							{{notification.message}} 
					</a>
				{% endfor %}
				{% if GLOBALS.NOTIFICATIONS|length < 1 %}
					<div class="italic"> 
						no notifications!
					</div>
				{% endif %}
				<form id="register_notifications_seen_form">
					<input type="hidden" 
						value="{{GLOBALS.UNSEEN_NOTIFICATION_PKS}}"
						name="notification_pks" />
				</form>
			</div>
		</div>

		<!-- Arm the notifications menu behaviors -->
		<script type="text/javascript">
		(function(){
		 	// make menu items hightlight on mouseover
		 	function highlight(e) {
				$(this).addClass('menu_item_highlight');
			}
			function unhighlight(e) {
				$(this).removeClass('menu_item_highlight');
			}
			menu_items = $('.header_menu a').on({
				'mouseover': highlight,
				'mouseout': unhighlight
			});

			var notifications_div = $('#notifications_div');
			var notifications_menu = $('#notifications_menu');
			var notifications_icon = $('#notifications_icon');
			var register_notifications_form = $('#register_notifications_form');

			// register the register_notifications_form.
			// Note, we're using the notifications_div as a submit button
			register_form(
				'register_notifications_seen_form',
				'register_notifications_seen',
				'notification_form',
				'notifications_div'
			);

			// clicking in the search form doesn't bubble up to be a 
			// click on the search button
			notifications_menu.click(function(e){
				e.stopPropagation();
			});

			var tog = new ToggleHidden(notifications_div, notifications_menu);
			function style_logged_in_div() {
				notifications_div.addClass('notifications_div_active');
				notifications_div.removeClass('notifications_div');
			}
			function unstyle_logged_in_div() {
				notifications_div.addClass('notifications_div');
				notifications_div.removeClass('notifications_div_active');
			}
			function clear_notifications_icon() {
				notifications_icon.addClass('no_notifications');
				notifications_icon.removeClass('has_notifications');
				notifications_icon.text('');
			}
			function on_hide() {
				unstyle_logged_in_div();
				clear_notifications_icon();
			}

			tog.hook('on_show', style_logged_in_div);
			tog.hook('on_hide', on_hide);

			// clicking out of the search area gets rid of notifications div
			doc_event_registrar.on('click', function(e){
				tog.hide();
			});
			// ensure that clicking the search button doesn't bubble
			// up to the document.click we just established
			notifications_div.click(function(e) {
				e.stopPropagation();
			});

		})();
		</script>

		<!-- Arm the logged-in menu behaviors -->
		<script type="text/javascript">
		(function(){
			var logged_in_div = $('#logged_in_div');
			var logged_in_menu = $('#logged_in_menu');

			// clicking in the search form doesn't bubble up to be a 
			// click on the search button
			logged_in_menu.click(function(e){
				e.stopPropagation();
			});

			var tog = new ToggleHidden(logged_in_div, logged_in_menu);
			function style_logged_in_div() {
				logged_in_div.addClass('logged_in_div_active');
				logged_in_div.removeClass('logged_in_div');
			}
			function unstyle_logged_in_div() {
				logged_in_div.addClass('logged_in_div');
				logged_in_div.removeClass('logged_in_div_active');
			}

			tog.hook('on_show', style_logged_in_div);
			tog.hook('on_hide', unstyle_logged_in_div);

			// clicking out of the search area gets rid of search form
			doc_event_registrar.on('click', function(e){
				tog.hide();
			});
			// ensure that clicking the search button doesn't bubble
			// up to the document.click we just established
			logged_in_div.click(function(e) {
				e.stopPropagation();
			});

			// make clicking the logout cause a logout and reload the page
			$( "#logout" ).click(function( event ) {
				ajax('ajax_logout', {}, {
					'success': function(){
						window.location = RELOAD_URL;
					},
					'error': function(){alert('error')}
				})
			});
		})();
		</script>
	<!-- otherwise, show login form and register link -->
	{% else %}

		<div id="log_or_register_div">
			<div id="login_div" class="login_div">

				<a>login </a>

				<div id="login_form_div">
					<div class="border_cover_med_short"></div>
					<form id="login_form">
						<input class='text_input' id="username" type="text"
							name="username" placeholder="username" />

						<input class='text_input' id="password" type="password"
							name="password" placeholder="password" />

						<input type="button" id="submit_login" 
							value="Log in" />
						<a href="{% url "resetPassword" %}">forgot?</a>
					</form>
				</div>

			</div>

			<div id="separator_div" class="float_left">|</div>

			<div id="register_div" class="float_left">
				<a href="{% url "userRegistration" %}">register</a>
			</div>
		</div>
		<script type="text/javascript">
		(function(){
			var login_div = $('#login_div');
			var login_form_div = $('#login_form_div');

			// clicking in the search form doesn't bubble up to be a 
			// click on the search button
			login_form_div.click(function(e){
				e.stopPropagation();
			});

			var tog = new ToggleHidden(login_div, login_form_div);
			function style_login_div() {
				login_div.addClass('login_div_active');
				login_div.removeClass('login_div');
			}
			function unstyle_login_div() {
				login_div.addClass('login_div');
				login_div.removeClass('login_div_active');
			}

			tog.hook('on_show', style_login_div);
			tog.hook('on_hide', unstyle_login_div);

			// clicking out of the search area gets rid of search form
			doc_event_registrar.on('click', function(e){
				tog.hide();
			});
			// ensure that clicking the search button doesn't bubble
			// up to the document.click we just established
			login_div.click(function(e) {
				e.stopPropagation();
			});

			// make clicking the logout cause a logout and reload the page
			$( "#logout" ).click(function( event ) {
				ajax('ajax_logout', {}, {
					'success': function(){
						window.location = RELOAD_URL;
					},
					'error': function(){alert('error')}
				})
			});
		})();

		</script>

	{% endif %}

<script>
(function(){

	RELOAD_URL = '{% url "do_reload" %}';

	// arm the login triger to slide open / closed the login form
	$('#login-trigger').click(function(){
		$(this).next('#login-content').slideToggle();
		$(this).toggleClass('active');
		
		if ($(this).hasClass('active')) {
			$(this).find('span').html('&#x25B2;')

		} else {
			$(this).find('span').html('&#x25BC;')
		}
	})

	// register the login as an ajax form widget
	register_form('login_form', 'ajax_login', 'login_form', 'submit_login')

	// define a callback to be executed after a successful login
	var login_success_callback = function(data) {
		window.location = RELOAD_URL;
	}

	// define a callback to be executed when login fails
	var login_error_callback = function(data) {
		alert(data.toSource());
	}

	// bind the callbacks to the login widget
	$(document).ready(function(){
		widgets['login_form'].widget.hook('success', login_success_callback);
		widgets['login_form'].widget.hook('error', login_error_callback);
	});


}());




</script>
