<form class="{{ form.form_class}}" 
	id="{{ form.form_class }}_{{ include_id }}" 
	action="{{ form.endpoint }}" />

	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
	<div class="form_line">
		<div class="field_label_wrapper">
			{{ field.label_tag }}
		</div>
		<div class="field_wrapper">
			{{ field }}
		</div>
	</div>
	{% endfor %}

	<input id="{{ form.form_class}}_{{ include_id }}_submit" 
	class="submit_letter" type="button" value="send" />
</form>
