{% load apptags %}
{% load staticfiles %}


<!-- aehlke github tagit code -->
<script src="{% static "digidemo/js/tag-it.js" %}" type="text/javascript" charset="utf-8"></script>
                  
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">


<script type="text/javascript">


 var sampleTags = ['c++', 'java' ];
    $(document).ready(function() {
		$("#{{taggit.id_prefix}}").tagit({
			caseSensitive : false,
			availableTags: sampleTags,
			singleField: true,
			singleFieldNode: $('#{{taggit.id_prefix}}_hidden_input'),
		});

		$("#{{taggit.id_prefix}} .tagit-new").attr('id', '{{taggit.id_prefix}}_input')
    });

</script>

<div class="form_line">
	<div class="field_label_wrapper">
		<div class="field_errors" id="{{taggit.id_prefix}}_errors">
			{% for error in taggit.errors %}
				{{ error }}
			{% endfor %}
		</div>
		<label for="{{ taggit.id_prefix }}" />{{ taggit.label|capfirst }}:</label>
	</div>

	<div class="field_wrapper{% if taggit.errors %}_error{% endif %}">
		<ul class="taggit" id="{{ taggit.id_prefix }}">
			<!-- Existing list items will be pre-added to the tags -->
		</ul>
	</div>

	<input type="hidden" id="{{taggit.id_prefix}}_hidden_input" 
		value="{{ taggit.tag_text }}" name="{{ taggit.name }}" /> 
</div>
