{% load apptags %}
{% load staticfiles %}


<! -- aehlke github tagit code -->
<script src="{% static "digidemo/js/tag-it.js" %}" type="text/javascript" charset="utf-8"></script>
                  
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">


<script type="text/javascript">


 var sampleTags = ['c++', 'java' ];
    $(document).ready(function() {
		$("#{{taggit.id}}").tagit({
			caseSensitive : false,
			availableTags: sampleTags,
			singleField: true,
			singleFieldNode: $('#{{taggit.id}}_hidden_input'),
		});

		//$("#sectorsField").tagit({
		//	caseSensitive : false,
		//	availableTags: sampleTags,
		//	requireAutocomplete: true,
		//	singleField: true,
		//	singleFieldNode: $('#sectorsFieldInput'),
		//});
		
    });

</script>

<div class="form_line">
	<div class="field_label_wrapper">
		<span class="field_errors" id="{{taggit.id}}_errors">
			{% for error in taggit.errors %}
				{{ error }}
			{% endfor %}
		</span>
		<label for="{{ taggit.id }}" />{{ taggit.label|capfirst }}:</label>
	</div>

	<div class="field_wrapper{% if taggit.errors %}_error{% endif %}">
		<ul class="taggit" id="{{ taggit.id }}">
			<!-- Existing list items will be pre-added to the tags -->
		</ul>
	</div>

	<input type="hidden" id="{{taggit.id}}_hidden_input" 
		value="{{ taggit.tags }}" name="{{ taggit.name }}" /> 
</div>
