{% load apptags %}
{% load staticfiles %}


<! -- aehlke github tagit code -->
<script src="{% static "digidemo/js/tag-it.js" %}" type="text/javascript" charset="utf-8"></script>
                  
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">


<script type="text/javascript">


 var sampleTags = ['c++', 'java' ];
    $(document).ready(function() {
		$("#tagsField").tagit({
			caseSensitive : false,
			availableTags: sampleTags,
			singleField: true,
			singleFieldNode: $('#tagsFieldInput'),
		});

		//$("#sectorsField").tagit({
		//	caseSensitive : false,
		//	availableTags: sampleTags,
		//	requireAutocomplete: true,
		//	singleField: true,
		//	singleFieldNode: $('#sectorsFieldInput'),
		//});
		
    });

</script>

<label for="tagsFieldInput" />{{ taggit.label|capfirst }}:</label>
<ul id="tagsField">
    <!-- Existing list items will be pre-added to the tags -->
</ul>

<input type="hidden" id="tagsFieldInput" 
	value="{{ taggit.tags }}" name="{{ taggit.name }}" /> 

<br /> <br />
Sectors 
<ul id="sectorsField">
</ul>
<input name="sectorsFieldInput" id="sectorsFieldInput" disabled="true">

<br /> <br />
