{% load staticfiles %}

<div id="{{form.form_class}}_{{ form.id_prefix }}_target" class="votes_widget" >
	<form id="{{ form.form_class }}_{{ form.id_prefix }}">

		{% csrf_token %}

		{% for field in form %}
		{{ field }}
		{% endfor %}
	</form>
</div>

<script type="text/javascript">

	// build the vote_widget.  This is the js object and associated html 
	// elements to allow up/downvoting and show the current score.
	vote_form = new VoteForm(
		'{{ form.form_class }}_{{ form.id_prefix }}',
		'votes_widget',
		{{ form.valence.value|default_if_none:0 }},
		{{ form.cur_score|default_if_none:0 }},
		'{{ form.endpoint }}',
		django.IS_USER_AUTHENTICATED
	);

	// register this widget to the page
	register_widget('{{ form.form_class }}_{{ form.id_prefix }}', vote_form, 'votes_widget');

	// insert the html associated with the widget into a div above, which 
	// would be included in the page at the point of inclusion of this template
	$(document).ready(
		$('#{{form.form_class}}_{{ form.id_prefix }}_target').append(vote_form.get())
	)

</script>

