{% load staticfiles %}

<div id="{{ include_id }}_target" class="votes_widget" >
	<form id="{{ include_id }}">

		{% csrf_token %}

		{% for field in form %}
		{{ field }}
		{% endfor %}
	</form>
</div>

<script type="text/javascript">

	// build the vote_widget.  This is the js object and associated html 
	// elements to allow up/downvoting and show the current score.
	vote_form = new VoteForm(
		'{{ include_id }}',
		'votes_widget',
		{{ form.valence.value|default_if_none:0 }},
		{{ form.cur_score|default_if_none:0 }},
		'{{ form.endpoint }}'
	);

	// register this widget to the page
	register_widget('{{ include_id }}', vote_form, 'votes_widget');

	// insert the html associated with the widget into a div above, which 
	// would be included in the page at the point of inclusion of this template
	$(document).ready(
		$('#{{ include_id }}_target').append(vote_form.get())
	)

</script>

