{% extends "digidemo/__two_column.html" %}
{% load staticfiles %}

{% block  headline_title %}
	<img src="{% static "digidemo/images/add_proposal_icon.png" %}" />
	New Issue
{% endblock headline_title %}

{% block maincol %}
	{% with version_form=proposal_form.proposal_version_form %}
	
	<form class="{{ version_form.form_class}}" 
		id="{{ version_form.form_class }}_{{ version_form.id_prefix }}" 
		action="{{ version_form.endpoint }}" 
		method="post" />

		{% csrf_token %}
		{% include "digidemo/_w_simple_form.html" with form=version_form  %}
		{% include "digidemo/_w_tagit.html" with taggit=proposal_form.taggit %}

		<input id="{{version_form.form_class}}__submit" 
			type="submit" value="submit" />
	</form>

	{% endwith %}

{% endblock maincol %}

{% block rightcol %}	
<a class="go_button" href="{{ cancel_url }}">
		cancel
	</a>
	<a class="go_button" href="#">
		preview
	</a>
{% endblock rightcol %}	
