{% extends "digidemo/__base.html" %}
{% load staticfiles %}
{% load apptags %}
{% load i18n %}

{% block css %}
	{{ block.super }}

	<style type="text/css">
		#frm {
			width: 100%;
			height: 500px;
		}
		.do_menu {
		}
		.absolutize {
			position: relative;
		}

		#scratch_pad {
			background: rgb(240,240,240);
			height: 300px;
		}
		#frm, #scratch_pad, #notes, #notes_textarea {
			height: 300px;
			width: 100%;
		}

		.clip {
			border: 1px solid green;
			padding: 14px;
		}

		#scratch_pad_sortable { 
			list-style-type: none;
			margin: 0;
			padding: 0;
		   	width: 100%; 
		}

		#scratch_pad_sortable li {
			margin: 0 3px 3px 3px;
			padding: 0.4em;
			padding-left: 1.5em;
			font-size: 12px;
			color: black;
			font-weight: normal;
		}

		.clip_center {
		}
		.clip_left {
			float: left;
			margin-right: 20px;
		}
		.clip_right {
			float: right;
		}
		.clip_button {
			float: left;
			border: solid 1px black;
			cursor: pointer;
			margin-right: 4px;
			width: 40px;
			text-align: center;
		}
		.clip_icon {
			margin: auto;
			border: solid 1px blue;
		}
		.clip_textarea {
			width: 300px;
			display: none;
		}



	</style>

{% endblock css %}

{% block js %}
	{{ block.super }}
{% endblock js %}


{% block middle %}
<h1 class="computerModern">{% trans "Clipper Mode" %}</h1></br> 	

<input id="url_input" type="text" name="url" />
<input id="submit" type="submit" value="submit" />

<div id="tabs">

	<ul>
		<li><a href="#tabs-1">Clip this</a></li>
		<li><a href="#tabs-2">Scratch Pad</a></li>
		<li><a href="#tabs-3">Notes</a></li>
	</ul>

	<div id="tabs-1">
		<iframe src="" id="frm"></iframe>
	</div>

	<div id="tabs-2">
		<div id="scratch_pad">
			<ul id="scratch_pad_sortable">
			</ul>
		</div>
	</div>

	<div id="tabs-3">
		<div id="notes">
			<textarea id="notes_textarea" name="notes"></textarea>
		</div>
	</div>
</div>


{% endblock middle %}

{% block foreground %}

	<div id="menu_target"></div>

	<script type="text/javascript">

		// arm tabs
		$('#tabs').tabs();

		$('#scratch_pad_sortable').sortable();

		function Menu(options, callbacks) {

			this.wrapper = $('<div class="menu_wrapper" />');
			this.wrapper.click(function(e) {
				e.stopPropagation();
			});

			var menu_ul = $('<ul class="do_menu" />');
			this.wrapper.append(menu_ul);
			for(var i=0; i<options.length; i++) {
				var menu_li = $('<li>' + options[i] + '</li>')
				menu_ul.append(menu_li);
				menu_li.click(callbacks[options[i]]);
			}
			menu_ul.menu();

			// public functions
			this.hide = function() {
				this.wrapper.css('display', 'none');
			};
		}

		function Clip(text) {

			var wrapper = $('<li class="ui-state-default" />');
			this.wrapper = wrapper;

			var clip_center = $('<div class="clip_center" />'); 
			var clip_left = $('<div class="clip_left" />'); 
			var clip_right = $('<div class="clip_right" />'); 


			var new_clip_text = $('<div />')
			clip_center.append(new_clip_text);
			new_clip_text.text(text);

			var new_clip_textarea = $('<textarea></textarea>');
			new_clip_textarea.css('width', '400px');
			new_clip_textarea.css('display', 'none');
			clip_center.append(new_clip_textarea);
			new_clip_textarea.val(text);

			clip_left.disableSelection();
			clip_right.disableSelection();
			new_clip_text.disableSelection();

			var new_clip_kill = $(
				'<div class="clip_button">'
					+ '<span class="clip_icon ui-icon ui-icon-close"></span>'
				+ '</div>'
			);

			var new_clip_edit = $(
				'<div class="clip_button">'
					+ '<span class="clip_icon ui-icon ui-icon-pencil"></span>'
				+ '</div>'
			);

			var new_clip_move = $('<span class="ui-icon ui-icon-arrow-4"></span>');
		
			var state = 'normal';
			function kill_clip() {
				wrapper.remove();
			}

			function start_editing() {
				new_clip_textarea.css('display', 'block');
				new_clip_text.css('display', 'none');
			}
			
			function finish_editing() {
				text = new_clip_textarea.val();
				new_clip_text.text(text);
				new_clip_textarea.css('display', 'none');
				new_clip_text.css('display', 'block');
			}
			
			function edit_clip() {
				if(state === 'normal') {
					start_editing();
					state = 'editing';
				} else if(state === 'editing') {
					finish_editing()
					state = 'normal';
				}
			}




			wrapper.append(clip_left);
			wrapper.append(clip_right);
			wrapper.append(clip_center);
			clip_left.append(new_clip_move);
			clip_right.append(new_clip_edit);
			clip_right.append(new_clip_kill);
			new_clip_kill.click(kill_clip);
			new_clip_edit.click(edit_clip);

		}


		function pull_text() {
			var tag = cp.get_selected_tag();
			var text = tag.text();
			var texts = text.split(/\.\s+/);
			for(var i=0; i<texts.length; i++) {
				var t = texts[i].trim();
				if(t === '') {
					continue;
				}
				var new_clip = new Clip(texts[i]);
				$('#scratch_pad_sortable').append(new_clip.wrapper);
			}
			$('#scratch_pad_sortable').sortable("refresh");
			cp.hide_menus();
		}
		function nevermind() {
			cp.hide_menus();
		}
			

		var gen_menu_options = ['nevermind', 'add to scratch'];
		var gen_menu_callbacks = {
			'nevermind': nevermind,
			'add to scratch': pull_text
		};
		var gen_menu = new Menu(gen_menu_options, gen_menu_callbacks);
		var menu_general_wrapper = gen_menu.wrapper;

		menu_general_wrapper.css('z-index', '9999999')

		function follow() {
			var href = cp.get_selected_href()
			url_input_elm.val(href);
			cp.point_iframe();
		}

		var a_menu_options = ['nevermind', 'follow', 'attribute', 
			'add to stack'];
		var a_menu_callbacks = {
			'nevermind': nevermind,
			'follow': follow,
			'attribute': function(){},
			'add to stack': function(){}
		};
		var a_menu = new Menu(a_menu_options, a_menu_callbacks);
		var menu_a_wrapper = a_menu.wrapper;

		menu_a_wrapper.css('z-index', '9999999')

		


		function ClipperPanel(
			frame_div, url_input_elm, submit_elm, menu_a_wrapper, 
			menu_general_wrapper
		) {

			// get some html pieces
			var frm = frame_div;
			var submit = submit_elm;
			var url_input = url_input_elm;

			// state variables
			var recall_border = null;
			var selected_elm = null;
			var selected_href = null;

			function load_frame() {
				put_menus();
				bind_iframe_events();
			}

			function put_menus() {
				var body = frm.contents().find('body');
				body.append(menu_a_wrapper);
				body.append(menu_general_wrapper);
			}

			function bind_iframe_events() {
				var frame_doc = document.getElementById('frm').contentWindow.document;
				frame_doc = $(frame_doc);
				frame_doc.click(click_in_frame);
				frm.contents().find('a').click(function(e) {
					click_in_frame(e);
					e.stopPropagation();
					return false;
				})
			}

			function restore_elm_border() {
				if(selected_elm === null) {
					return;
				}
				selected_elm.css('border', recall_border);
			}

			function click_in_frame(e) {

				// restore the old div's display (if any)
				restore_elm_border();

				// get the clicked div, and remember it's original styling
				var html_tag = e.target;
				var tag = $(e.target);
				selected_elm = tag;
				recall_border = tag.css('border');
				selected_href = tag.attr('href');

				// highlight clicked div
				tag.css('border', 'solid 1px black');
				var tag_name = html_tag.tagName.toLowerCase();

				// get the coords
				var y = e.pageY;
				var x = e.pageX;

				// hide the menus
				_hide_menus();

				// show the appropriate menus
				if(html_tag.tagName.toLowerCase() == 'a') {
					show_menu(menu_a_wrapper, x, y);
				} else {
					show_menu(menu_general_wrapper, x, y);
				}
			}

			// a public function
			this.get_selected_tag = function() {
				return selected_elm;
			};

			this.get_selected_href = function() {
				return selected_href;
			};


			function _hide_menus() {
				menu_a_wrapper.css('display', 'none');
				menu_general_wrapper.css('display', 'none');
			}

			this.hide_menus = function() {
				_hide_menus();
			};

			function show_menu(which_menu, x, y) {
				which_menu.css('position', 'absolute');
				which_menu.css('top', y);
				which_menu.css('left', x);
				which_menu.css('display', 'block');
			}

			// navigates the iframe.  Luminocracy server used as a proxy.
			function _point_iframe() {
				url = url_input.val();
				proxy_url = 'http://localhost:8000/clipper/' + url;
				// this causes iframe to load url
				frm.attr('src', proxy_url);
			}
			this.point_iframe = function() {
				_point_iframe()
			};

			// arm some events on the iframe
			frm.load(load_frame);
			submit.click(_point_iframe);

			_point_iframe();
		}

		var frame_div = $('#frm'); 
		var url_input_elm = $('#url_input');
		var submit_elm = $('#submit');
		var cp = new ClipperPanel(
			frame_div, url_input_elm, submit_elm, menu_a_wrapper,
			menu_general_wrapper
		);

	</script>

{% endblock foreground %}
