{% extends "digidemo/__base.html" %}
{% load staticfiles %}
{% load static %}
{% load apptags %}
{% load i18n %}

{% block js %}
	{{ block.super }}
	<script type="text/javascript" 
		src="{% static "digidemo/js/packery.js" %}"></script>
{% endblock js %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/index.css" %}" />
{% endblock css %}

{% block middle %}

	<!-- begin featured -->
	<div id="outer_center_featured">
		<div id="center_featured">
			<div id="packery">
				{% for issue in active_issues %}
					<div id="f{{forloop.counter0}}" class="feat">
						<img 
							src="{% get_media_prefix %}{{issue.proposal_image}}" />
						<div class="feat_text">
							{% if forloop.counter0 < 3 %}
								<div class="title">
									bla bla bla bla
								</div>
							{% endif %}
							{% if forloop.counter0 < 1 %}
								<div class="summary">
									bla bla bla bla <br />
									bla bla bla bla <br />
									bla bla bla bla <br />
								</div>
							{% endif %}
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<script type="text/javascript">
		(function(){
			function normalish(N) {
				var sum = 0;
				for(var i=0; i<N; i++) {
					sum += Math.random();
				}	
				return sum / N;
			}

			function ThumbArray(thumb_container, itemSelector) {

				var thumbs = thumb_container.children();
				var active_thumb = $(thumbs[0]);

				//function resize(elm, size) {
				//	elm = $(elm);
				//	var img = elm.find('img');
				//	elm.css({
				//		'width': size,
				//		'height': size
				//	});
				//	img.css({
				//		'width': size,
				//		'height': size
				//	});
				//}

				//function swap_size(e) {

				//	var clicked_thumb = $(this);
				//	var old_thumb = active_thumb;

				//	var active_thumb_size = old_thumb.css('width');
				//	var clicked_thumb_size = clicked_thumb.css('width');

				//	resize(clicked_thumb, active_thumb_size);
				//	resize(old_thumb, clicked_thumb_size);

				//	active_thumb = clicked_thumb;
				//	thumb_container.packery();//'fit', this);

				//}

				function pack() {
					thumb_container.packery({
						itemSelector: itemSelector,
						gutter: 10
					});
				}

				// resize the thumbs
				//for(i=0; i<thumbs.length; i++) {
				//	var elm = $(thumbs[i]);
				//	var img = elm.find('img');
				//	var size = sizes[i];
				//	elm.css('width', size);
				//	elm.css('height', size);
				//	img.css('width', size);
				//	img.css('height', size);
				//	elm.click(swap_size);
				//}

				pack();

			}

			var thumb_array = new ThumbArray($('#packery'), '.feat');

		}());
	</script>

{% endblock middle %}
{% block footer %}

	<div id="about">
		<h1>Political Info for Canadians By Canadians</h1>

		<div id="about_info">
			<h2>Crowdsourced by Canadians like you</h2>
			<p>
				Our issues are crowdsourced by Canadians like you, and written 
				through 
				a community authoring process, to promote a balanced account 
				that 
				reflects diverse perspectives.
			</p>
			<h2>A non-partisan source you can trust</h2>
			<p>
				The goal of this platform is to create a productive dialogue 
				that
				focused on learning and finding solutions.  We want to cut 
				through
				rhetoric, while still reflecting the diversity of viewpoints,
				and provide a place where Canadians can both read about current 
				events and take action to shape them.
			</p>
			<h2>It's easy, with a little help from your friends</h2>
			<p>
				Is there an important issue going on today that you think 
				Canadians
				need to know about?  It only takes five minutes to start a new 
				issue,
				and invite others to help you.  Our tools make it easy to share
				the
				work of staying active and informed.
			</p>
		</div>

		<div id="cta">
			<a id="start_issue"
				href="{% url "add_proposal" %}">Start an issue</a>
			<p class="italic">
				An "issue" is one opportunity, threat, or decision.
				It can be at the level of your city, province, or the whole 
				country.
			</p>
		</div>
		<div class="clear"></div>

	</div>

{% endblock footer %}
