{% extends "digidemo/__base.html" %}
{% load staticfiles %}
{% load apptags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/proposal_index_style.css" %}" />
{% endblock css %}

{% block middle %}

	<div id="welcome" class="centered">
		<img src="{% static "digidemo/images/banner.png" %}" />
	</div>

	<!-- begin featured -->
	<div class="marquee_section">

		<h2 class="marquee_heading">
			Featured Issue
			<a href="{% url "issue_list" order_by="interesting" %}" class="marquee_see_more">
				See all
			</a>
		</h2>

		<div class="marquee_body">
			{% include "digidemo/_i_issue_preview.html" with issue=featured_post %}
		</div>
		<div class="clear"></div>
	</div>
	<!-- end featured -->


	<!-- begin more articles -->
	<div class="marquee_section">
		<h2 class="marquee_heading">
			Active Issues
			<a href="{% url "issue_list" order_by="activity" %}" class="marquee_see_more">
				See all
			</a>
		</h2>

		<div class="marquee_body">
			<!-- begin post -->
			{% for proposal in active_issues %}
				<div class="issue_info">
					<h3 class="issue_title"> 
						<a href="{{ proposal.get_proposal_url }}">
							{{proposal.title}}
						</a> 
					</h3>
					<span class="last_modified">
						Last mod {{ featured_post.last_modified }} 
					</span>
				</div>
			{% endfor %}
		</div>
		<div class="clear"></div>
	</div>
	<!-- end more articles -->


	<!-- begin post navigation -->
	<div class="marquee_section">
		<h2 class="marquee_heading">
			New Petitions
			<a href="{% url "petition_list" %}" class="marquee_see_more">
				See all
			</a>
		</h2>

		{% for petition in new_petitions %}
			<div class="petition_preview">
				<div class="petition_score">
					{{ petition.score }}<img src="{% static "digidemo/images/feather_sign.png" %}" />
				</div>

				<div class="petition_title_div">
					<h3 class="petition_title">
						<a href="{{ petition.get_url }}">
							{{ petition.title }}
						</a>
					</h3>
				</div>
				<div class="clear"></div>
			</div>
		{% endfor %}

	</div>
	<!-- end post navigation -->

{% endblock middle %}
