{% extends "digidemo/__tabbed.html" %}
{% load apptags %}
{% load static %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
	{{ proposal.title }} | {{ block.super }} 
{% endblock title %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/overview.css" %}" />
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/letter.css" %}" />
{% endblock css %}


{% block  headline_title %}

	<span id="proposal_title">{{ proposal.title }}</span>
	<a href="{% url "edit" issue_id=proposal.id  %}" 
		class="go_button_right">
		{% trans "edit" %}
	</a>
	<!--div id="follow">
		{% include "digidemo/_w_follow_post.html" %}
	</div-->

	<div class="clear"></div>

{% endblock headline_title %}

{% block middle %}


<div>

	<div id="proposal_image" class="right_col">
			<img class="proposal_image"
			src="{% get_media_prefix %}{{ proposal.proposal_image }}" />
	</div>

	<div class="left_col padded">
			<div id="inbrief" class="in_brief">
				<h1>{% trans "In brief" %}</h1>
				<span id="proposal_summary">
					{{ proposal.summary|markdown }}
				</span>
			</div>

			<!-- start of proposal sectors -->

			<div id="tags" class="tags">
				{% for sector in proposal.sectors.all %}
					{{ sector.render_link }}
				{% endfor %}

				{% for tag in proposal.tags.all %}
					{{ tag.render_link }}
				{% endfor %}
				
			</div>
			<!-- end of proposal sectors -->
	</div>

</div>

<div class="clear"></div>

<!-- start the previews -->
<div id="previews" class="right_col">
	<div class="marquee_section">
		<h2 class="marquee_heading">
			{% blocktrans count num_letters=letter_sections|length %}
				{{ num_letters }} Letter
			{% plural %}
				{{ num_letters }} Letters
			{% endblocktrans %}
			<a class="marquee_see_more" 
				href="{{proposal.get_petitions_url}}">
				{% trans "see all" %}
			</a>
		</h2>
		<div class="marquee_body">

		{% for letter_section in letter_sections %}

			<!-- start of an open letter -->
			<div id="letter_{{ letter_section.id_prefix }}" class="letter">


				<!-- start the content of the letter -->
				<div class="overview_letter_main">
					<div class="overview_physical_letter">

						<div class="overview_petition_status_indicator">
							<div class="score">
								{{ letter_section.post.score }}<img 
									class="resend_widget" 
									src="{% static "digidemo/images/feather_sign.png" %}" />
							</div>
							<div class="num_replies">
								<span class="num">
									{{ letter_section.comments_section.comments|length }}
								</span><img 
									src="{% static "digidemo/images/comment_icon.png" %}"/>
							</div>
						</div>

						<span class="overview_petition_title">
							<a href="{{letter_section.post.get_url}}">
								{{letter_section.post.title}}
							</a>
						</span>


						<span class="overview_letter_body">
							{{ letter_section.post.text|truncatechars:100 }}
						</span>
						<span class="username">~{{ letter_section.post.user }}</span>


						<div class="clear"></div>
					</div>

					<img class="cover_corner"
						src="{% static "digidemo/images/corner.png" %}" />

				</div> 
				<!-- end of letter main content -->

				<div class="clear"></div>
			</div>
			<!-- end of a letter -->

			<div class="clear"></div>


		{% endfor %} <!-- loop over all letters for the proposal -->
			
		</div>
	</div>

	<div class="clear"></div>
	<div class="marquee_section">
		<h2 class="marquee_heading">
			{% blocktrans count num_questions=num_questions %}
				{{num_questions}} Question
			{% plural %}
				{{num_questions}} Questions
			{% endblocktrans %}
			<a class="marquee_see_more" 
				href="{{proposal.get_question_list_url}}">
				{% trans "see all"%}
			</a>
		</h2>
		<div class="marquee_body">
			{% for question in questions %}

				<div class="list_item">
					<div class="status_indicator">
						<div class="score">
							{{ question.score }}
						</div>
						<div class="num_replies">
							{% blocktrans count num_answers=question.replies.count %}
								{{ num_answers }} Answer
							{% plural %}
								{{ num_answers }} Answers
							{% endblocktrans %}
						</div>
					</div>
					<div class="list_body">
						<a href="{{ question.get_url }}">
							{{ question.title|truncatechars:72 }}
						</a>
						<span class="bold">~{{ question.user }}</span>
					</div>
					<div class="clear"></div>
				</div>

			{% endfor %}

		</div>
	</div>
</div>
<!-- end preview area -->

<!-- start the proposal -->
<div id="article" class="left_col padded">

	<!-- start the proposal text (body) -->
	<div id="proposal_text">
		{{ proposal.text|markdown }}
	</div>
	<!-- end the proposal text (body) -->

</div>

{% endblock middle %}

