{% extends "digidemo/__tabbed.html" %}
{% load apptags %}
{% load staticfiles %}

{% block title %}
	{{ proposal.title }} | {{ block.super }} 
{% endblock title %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/overview.css" %}" />
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/letter.css" %}" />
{% endblock css %}


{% block  headline_title %}
	<img src="{% static "digidemo/images/compas_icon.png" %}" />
	{{ proposal.title }}

	<div id="follow">
		{% include "digidemo/_w_follow_post.html" %}
	</div>

{% endblock headline_title %}

{% block maincontent %}
<!-- start the proposal -->
<div id="previews">
	<div>
		<a href="{% url "editors_area" issue_id=proposal.id open_status="open" %}" class="go_button">
			go to editing room
		</a>
	</div>

	<div class="marquee_section">
		<h2 class="marquee_heading">
			{{letter_sections|length}} 
			Petition{{letter_sections|length|pluralize}}
			<a class="marquee_see_more" 
				href="{{proposal.get_petitions_url}}">see all</a>
		</h2>
		<div class="marquee_body">

		{% for letter_section in letter_sections %}

			<!-- start of an open letter -->
			<div id="letter_{{ letter_section.id_prefix }}" class="letter">


				<!-- start the content of the letter -->
				<div class="overview_letter_main">
					<div class="overview_physical_letter">

						<div class="overview_petition_status_indicator">
							<div class="score">
								{{ letter_section.post.score }}<img 
									class="resend_widget" 
									src="{% static "digidemo/images/feather_sign.png" %}" />
							</div>
							<div class="num_replies">
								<span class="num">
									{{ letter_section.comments_section.comments|length }}
								</span><img 
									src="{% static "digidemo/images/comment_icon.png" %}"/>
							</div>
						</div>

						<span class="overview_petition_title">
							<a href="{{letter_section.post.get_url}}">
								{{letter_section.post.title}}
							</a>
						</span>


						<span class="overview_letter_body">
							{{ letter_section.post.text|truncatechars:100 }}
						</span>
						<span class="username">~{{user}}</span>


						<div class="clear"></div>
					</div>

					<img class="cover_corner"
						src="{% static "digidemo/images/corner.png" %}" />

				</div> 
				<!-- end of letter main content -->

				<div class="clear"></div>
			</div>
			<!-- end of a letter -->

			<div class="clear"></div>

		{% endfor %} <!-- loop over all letters for the proposal -->
			
		</div>
	</div>

	<div class="clear"></div>
	<div class="marquee_section">
		<h2 class="marquee_heading">
			{{num_questions}} Question{{num_questions|pluralize}}
			<a class="marquee_see_more" 
				href="{{proposal.get_question_list_url}}">see all</a>
		</h2>
		<div class="marquee_body">
			{% for question in questions %}

				<div class="list_item">
					<div class="status_indicator">
						<div class="score">
							{{ question.score }}
						</div>
						<div class="num_replies">
							{{ question.replies.count }} 
							answers
						</div>
					</div>
					<div class="list_body">
						<a href="{{ question.get_url }}">
							{{ question.title|truncatechars:72 }}
						</a>
						<span class="bold">~{{ question.user }}</span>
					</div>
					<div class="clear"></div>
				</div>

			{% endfor %}

		</div>
	</div>
</div>

<div id="article">
	<div class="inbrief">
		<h1>In brief</h1>
		{{ proposal.summary|markdown }}
	</div>


	<!-- start of proposal sectors -->
	<div class='tags'>
		{% for tag in proposal.tags.all %}
			<div class="tag">
				{{ tag.name }}
			</div>
		{% endfor %}
	</div>
	<!-- end of proposal sectors -->

	{{ proposal.text|markdown }}

</div>

<div id="full_issue">


</div>
{% endblock maincontent %}

