{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>
		{{ proposal.title }}
	</title>

	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/basic.css" %}" />
	<!-- link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/proposal.css" %}" /-->

</head>

<body>

	<div id="header">

		<div class="outer_center">
			<div class="inner_center">

				<div id="colophon">
				</div>

				<!-- logged in user hardcoded temporarily -->
				<div id="user">
					enewe101 &#x25BE;
				</div>

			</div>
		</div>

	</div>

	<!-- content in the middle (vertical middle) of the page -->
	<div id="middle">

		<!-- centering device for the middle of the page layout -->
		<div class="outer_center">
			<div class="inner_center">

			<!-- start the left column of the central page layout -->
			<div id="left_col">
				<div class="tabs">
				</div>
				<h1 class="proposal_title">&nbsp;</h1>

				<!-- start the left navigation bar -->
				<ul id="navbar">

					<li class="navitem">
						feed
					</li>

					<li class="navitem">
						watchlist
					</li>

					<li class="navitem">
						active
					</li>

					<li class="navitem">
						new
					</li>

					<li class="navitem">
						random 
					</li>

					<div class="nav_horizontal_bar"></div>

					<li class="navitem">
						+ create
					</li>

					<div class="nav_horizontal_bar"></div>

					<li class="navitem">
						Montreal
					</li>

					<li class="navitem">
						Quebec
					</li>

					<li class="navitem">
						Canada
					</li>


				</ul>
				<!-- end the left navigation bar -->

			</div>
			<!-- end the left column of the middle page layout -->

			<!-- start the (horizontal) center column of middle page layout -->
			<div id="center_col">

				<!-- start tabs at the top of the proposal -->
				<div class="tabs">
					<div class="tab_thick_space"></div>
					<div class="tab">
							Overview
					</div>
					<div class="tab_thin_space"></div>
					<div class="tab_active">
							Proposal
					</div>
					<div class="tab_thin_space"></div>
					<div class="tab">
							Discuss
					</div>
					<div class="tab_thin_space"></div>
					<div class="tab">
							Edit
					</div>
					<div class="tab_thin_space"></div>
					<div class="tab">
						<span class='disabled'>
							Save
						</span>
					</div>
					<div class="tab_thick_space"></div>
				</div>
				<!-- end tabs at the top of the proposal -->

				<!-- start the proposal -->
				<div id="proposal">
					<h1 class="proposal_title">
						{{ proposal.title }}
					</h1>
					<div id="proposal_summary">
						{% autoescape off %}	
							{{ proposal.text }}
						{% endautoescape %}
					</div>	
					<div id="proposal_factors">
						<div class="clear"></div>
						<div class="factor_left_column">
							<div class="factor_list_heading">
								Forseen benefits:
							</div>
							{% if proposal.factor_set.all|length = 0 %}
							<div class="centered italic grey">none</div>
							{% else %}
							<ul class="factor_list">
								{% for factor in proposal.factor_set.all %}
								{% if factor.valence > 0 %}
								<li class="factor_element">
								{{ factor.description }}
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}
						</div>
						<div class="factor_right_column">
							<div class="factor_list_heading">
								Forseen hazards:
							</div>
							{% if proposal.factor_set.all|length = 0 %}
							<div class="centered italic grey">none</div>
							{% else %}
							<ul class="factor_list">
								{% for factor in proposal.factor_set.all %}
								{% if factor.valence < 0 %}
								<li class="factor_element">
								{{ factor.description }}
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- end the proposal -->

				<hr class="flourish" />

				<!-- start the open letters area -->
				<div id="letters">
				{% for letter in proposal.letter_set.all %}

					<!-- start of an open letter -->
					<div class="letter">

						<!-- score and icons for the letter -->
						<div class="letter_status_bar">
							<div class="letter_votes_widget">
								<div class="letter_upvote">
									<img src="{% static "digidemo/images/upvote.png" %}" />
								
								</div>
								<div class="letter_score">
									{{ letter.score }}
								</div>
								<div class="letter_downvote">
									<img src="{% static "digidemo/images/downvote.png" %}" />
								</div>
							</div>

							<div class="resend"><span class="resend_count">7</span><img class="resend_widget" src="{% static "digidemo/images/mail.png" %}" /></div>
							{% if letter.valence < 0 %}
							<img class="letter_valence"
							src="{% static "digidemo/images/oppose.png" %}"
							alt="support" />
							{% elif letter.valence > 0 %}
							<img class="letter_valence"
							src="{% static "digidemo/images/support.png" %}"
							alt="support" />
							{% else %}
							<img class="letter_valence"
							src="{% static "digidemo/images/ammend.png" %}"
							alt="support" />
							{% endif %}

						</div>
						<!-- end score and icons for the letter -->

						<!-- start the content of the letter -->
						<div class="letter_main">

							<div class="recipients">
								Attention:
								{% for recipient in letter.recipients.all %}
								<br \><span class="recipient_title">
									{{ recipient.name }}</span>,
								<span class="recipient_name">
									{{ recipient.person.fname|capfirst }}
									{{ recipient.person.lname|capfirst }}
								</span>
								{% endfor %}
							</div>

							<div class="clear"></div>

							<div class="letter_body">
								{{ letter.body|truncatewords:100 }}
								{% if letter.body|wordcount > 100 %}
								<a href="#">view full letter</a>
								{% endif %}
							</div>


							<!-- start the list of senders -->
							<div class="senders">
								<!-- the original sender of the letter -->
								<div class="sender">
									<div class="sender_avatar_image">
										<img class="avatar_image_medium"
										src="{{ letter.sender.avatar_img.url }}"
										alt="{{ letter.sender.avatar_name }}" />

										<img class="avatar_mask_medium"
										src="{% static "digidemo/images/avatar_mask.png" %}" />
									</div>

									<div class="sender_name_and_bling">
										<div class="sender_name">
											{{ letter.sender.avatar_name }}
										</div>
										<div class="sender_bling">
											14.7 k &nbsp;&nbsp; 13 
											<img src="{% static "digidemo/images/bronze.png" %}" alt="bronze badge" />
										</div>
									</div>
								</div>
								<!-- end of original sender -->

								<!-- people that have resent the letter -->
								<div class="resending">
									<div class="resenders_single_row">
										<div class="resender">

											<img class="avatar_image_small" 
											src="{% static letter.sender.avatar_img.url %}" 
											alt="resender_avatar" />

											<img 
											src="{% static "digidemo/images/avatar_mask.png" %}" 
											class="avatar_mask_small" />

										</div>
										<div class="clear"></div>
									</div>
									<a class="send_letter" href="#">
										send a version of this letter
									</a>

								</div>
								<!-- end of re-senders  -->

								<div class="clear"></div>

							</div>
							<!-- end of letter senders area -->

							<!-- start of the letter comments area -->
							<div class"letter_comments">
								{% for comment in letter.comment_set.all %}
								<div class="letter_comment">
									<span class="letter_comment_body">
										{{ comment.body }}
									</span>
									<span class="comment_author">
										~ {{ comment.author.avatar_name }}
									</span>
								</div>
								{% endfor %}

								<div class="add_comment">
									<form 
										method="POST"
										action="{% url "proposal" proposal.name %}">
									{{ comment_form.non_field_errors }}
									{% csrf_token %}
									{{ comment_form.body.errors }}
									{{ comment_form.body }}
									{{ comment_form.letter.errors }}
									<input type="hidden" name="letter" 
										value="{{ letter.id }}" />
									{{ comment_form.author.errors }}
									<input type="hidden" name="author" 
										value="{{ logged_in_user.id }}" />
									<input type="submit" value="post" />
									</form>
								</div>
							</div>
							<!-- end of letter comments area -->
						</div> 
						<!-- end of letter main content -->

					</div>
					<!-- end of a letter -->
				{% endfor %} <!-- loop over all letters for the proposal -->
				</div>
				<!-- end of letters area -->

			</div>
			<!-- end of central column in middle page layout -->



			<!-- start of right column in middle page layout -->
			<div id="right_col">
			</div>
			<!-- end of right column in middle page layout -->

			</div>
		</div>
		<!-- end of centering device for the middle of the page layout -->

	</div>
	<!-- end of the (vertical) middle of the page layout -->

	<!-- start of page footer -->
	<div id="footer">
		<div class="outer_center">
			<div class="inner_center">
				footer
			</div>
		</div>
	</div>
	<!-- end of page footer -->

</body>
