{% extends "digidemo/__base.html" %}
{% load staticfiles %}
{% load apptags %}

{% block css %}
	{{ block.super }}
{% endblock css %}

{% block js %}
	{{ block.super }}
{% endblock js %}

{% block middle %}

<div class="mid_form">
	<h1 class="computerModern">Reset Password</h1></br>	
	{% include "digidemo/_w_simple_form_wrapped.html" with form=form %}
</div>

<script>

	// The id for some form elements, defined in template, are passed to js:
	var USERNAME_INPUT_ID = "{{form.form_class}}_{{form.id_prefix}}_username";

	// Get those form elements
	var username_input = $('#'+USERNAME_INPUT_ID);

</script>

{% endblock middle %}
