{% extends "digidemo/__base.html" %}
{% load staticfiles %}
{% load apptags %}
<!-- BEGIN wrapper -->
		{% block css %}
			{{ block.super }}
			<link rel="stylesheet" type="text/css" 
				href="{% static "digidemo/css/proposal_index_style.css" %}" />
		{% endblock css %}
		
		{% block js %}
			{{ block.super }}

		<!-- Let's stick to one version of jquery -->

		<!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
		

		{% endblock js %}


{% block body %}
{{ block.super }}
{% include "digidemo/_w_login_user.html" %}

<div id="wrapper">
  <!-- BEGIN header -->
 
  <!-- END header -->
  <!-- BEGIN content -->

  <div id="content">

	<form method="POST" tag="Create Logon" >
	{% csrf_token %}		
	{{ form.non_field_errors }}
  		{{ form.subject.errors }}
		<span>
		userName :
		{{ form.userName }} <div id="userNameValidation"> Please enter username </div>
		<br> <br>
		</span>
		Password :
		{{ form.password }} 
		<br> <br>
		Email :
		{{ form.email }} 
		<br> <br>
		First Name:
		{{ form.firstName }} 
		<br> <br>
		Last Name :
		{{ form.lastName }} 
		<br> <br>
<!--		Street :
		{{ form.street }} 
		<br> <br>
		PIN :
		{{ form.zipCode }} 
		<br> <br>
		Country :
		{{ form.country }} 
		<br> <br>
		Province :
		{{ form.province }} 
		<br> <br> -->
		<input type="submit" value="Submit" />
		</div>
	</form>


  </div>



{% include "digidemo/_i_mainpage_sidebar.html" %}


		<script> 

		var URL =" {% url "handle_ajax_json" 'checkValidUserName' %}" ;

		$('#id_userName').keyup(function() {
 			var userNameEntered = document.getElementById('id_userName').value
			if(userNameEntered.length < 6) {
				$('#userNameValidation').text("username too short");
				return;
			}

$('#userNameValidation').text("Processing");

  	  $.ajax({
   	   url:URL,
	   type: 'GET',
   	   async: false,
           data: {
               username: userNameEntered
	   },
	 success:function(data) {
	data=data.replace(/(\r\n|\n|\r)/gm,"");
	data=data.replace(/"/g, ""); 
	if(data=="available") {
		$('#userNameValidation').text("Username available");
	} else {
		$('#userNameValidation').text("Username Not available");
	}
	}
	});
});
		


	
		</script>

<!-- END wrapper -->
{% endblock body %}
