{% load staticfiles %}
<html>
<head>
<title>Digidemo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static "digidemo/css/proposal_index_style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "digidemo/css/login.css" %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{% static "digidemo/css/ie.css" %}" /><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
  $('#login-trigger').click(function(){
    $(this).next('#login-content').slideToggle();
    $(this).toggleClass('active');          
    
    if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
      else $(this).find('span').html('&#x25BC;')
    })
});
</script>

</head>

<body>
<!-- BEGIN wrapper -->
<nav>
  <ul>
    <li id="login">
      <a id="login-trigger" href="#">
        Log in <span>?</span>
      </a>
      <div id="login-content">
        <form>
          <fieldset id="inputs">
            <input id="username" type="email" name="Email" placeholder="Your email address" required>   
            <input id="password" type="password" name="Password" placeholder="Password" required>
          </fieldset>
          <fieldset id="actions">
            <input type="submit" id="submit" value="Log in">
            <label><input type="checkbox" checked="checked"> Keep me signed in</label>
          </fieldset>
        </form>
      </div>                     
    </li>
    <li id="signup">
      <a href="">Sign up FREE</a>
    </li>
  </ul>
</nav>
</div>

<div id="wrapper">
  <!-- BEGIN header -->
  <div id="header">
    <ul class="pages">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="page.html">Demo Page</a></li>

    </ul>
    <form action="http://www.free-css.com/">
      <p>Search: </p>
      <input type="text" name="s" id="s" value="" />
      <button type="submit">Go</button>
    </form>
    <div class="break"></div>
    <h1><a>InnodeMag</a></h1>
    <div class="ad"><img src="{% static "digidemo/images/ad468x60.jpg" %}" alt="" /></div>
    {% load apptags %}
  </div>
  <!-- END header -->
  <!-- BEGIN content -->

  <div id="content">

	<form method="POST" tag="Create Logon" >
{% csrf_token %}		
<div align="left"
		<br>
			Username *: <input type="username" name="username" id="username" />
 	<br>	<br>
			Password *: <input type="password" name="password" id="password" />
 <br>	<br>
			First Name*: <input type="first_name" name="first_name" id="first_name" />
 <br>	<br>
			Last Name *: <input type="last_name" name="last_name" id="last_name" />
 <br>	<br>
			Email *: <input type="email" name="email" id="email" />
 <br>	<br>
				Telephone: <input type="avatar_name" name="avatar_name" id="avatar_name" />
 <br>	<br>
			Street *: <input type="street" name="street" id="street" />
 <br>	<br>
			Post Code *: <input type="postcode" name="zip_code" id="zip_code" />
 <br>	<br>

		<input type="submit" value="Submit" />
		</div>
	</form>


  </div>

  <!-- END content -->
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <!-- begin popular posts -->
    <div class="box">
      <h2>Popular Posts</h2>
      <ul>
	{% for post in popular_posts%}
        <li><a href="/proposals/{{post.name}}">{{post.title}}</a></li>
	{% endfor %}
      </ul>
    </div>
    <!-- end popular posts -->
    <!-- begin featured video -->
    <div class="box">
      <h2>Featured Video</h2>
      <div class="video" ><iframe height ="200" src="//www.youtube.com/embed/6GR-9-nB-YE" frameborder="0" allowfullscreen></iframe></div>
    </div>
    <!-- end featured video -->
    <!-- BEGIN left -->
    <div class="l sidebar">

      <!-- begin categories -->
      <div class="box">
        <h2>Categories</h2>
        <ul>
          <li>Advertising</li>
          <li>Fashion</li>
          <li>Gadgets</li>
          <li>Lifestyle</li>
          <li>Networking</li>
          <li>News</li>
          <li>Sports</li>
        </ul>
      </div>
      <!-- end categories -->
    </div>
    <!-- END left -->
    <!-- BEGIN right -->
    <div class="r sidebar">
      <!-- begin archives -->
      <div class="box">
        <h2>Archives</h2>
        <ul>
          <li>2014</li>
          <li>2013</li>
          <li>2012</li>
          <li>2011</li>
        </ul>
      </div>
      <!-- end archives -->
    </div>
    <!-- END right -->
  </div>
  <!-- END sidebar -->
  <!-- BEGIN footer -->
  <div id="footer">
    <p>Copyright &copy; June 2014 Edward Newell and Nishanth - Digidemo.com All Rights Reserved </p>
  </div>
  <!-- END footer -->
</div>
<!-- END wrapper -->
</body>
</html>
