{% extends "digidemo/__two_column.html" %}
{% load apptags %}
{% load staticfiles %}
{% load i18n %}

{% block css %}

	{{block.super}} 
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/letter.css" %}" /> 
	<link rel="stylesheet" type="text/css" 
		href="{% static "digidemo/css/proposal.css" %}" /> 

{% endblock css %}

{% block title %}
	{{ headline }} | {{ block.super }} 
{% endblock title %}

{% block  headline_title %}
	{{ letter_section.post.title }}
{% endblock headline_title %}

{% block maincol %}
<!-- start of an open letter -->

<div id="letter_{{ letter_section.id_prefix }}" class="letter">

	<!--div class="status_indicator">
		<div class="score">
			{{ letter_section.post.score }}<img 
				class="resend_widget" 
				src="{% static "digidemo/images/feather_sign.png" %}" />
		</div>
		<div class="num_replies">
			<span class="num">
				{{ letter_section.comments_section.comments|length }}
			</span>
			comments
		</div>
	</div-->

	<div class="status_indicator">
		<div class="score">
			{{ letter_section.post.score }}<img 
				class="resend_widget" 
				src="{% static "digidemo/images/feather_sign.png" %}" />
		</div>
		<div class="num_replies">
			<span class="num">
				{{ letter_section.comments_section.comments|length }}
			</span><img 
				src="{% static "digidemo/images/comment_icon.png" %}"/>
		</div>
	</div>

	<!-- start the content of the letter -->
	<div class="letter_main">


		<div class="physical_letter">


			<div id="_w_hidden_content_1">
				<h2 class="petition_title">
					{{ letter_section.post.title }}
				</h2>

				<div class="recipients">
					{% trans "Attention:" %}
					{% for recipient in letter_section.post.recipients.all %}
					<br \><span class="recipient_title">
						{{ recipient.name }}</span>,
					<span class="recipient_name">
						{{ recipient.person.fname|capfirst }}
						{{ recipient.person.lname|capfirst }}
					</span>
					{% endfor %}
				</div>

				<div class="clear"></div>

				<div class="letter_body">
					{{ letter_section.post.text|markdown }}
				</div>

			</div>

			<div class="hidden" id="_w_toggle_hidden_content_{{letter_section.id_prefix}}" >

				{% include "digidemo/_w_ajax_form.html" with form=letter_section.resend_form %}
			</div>

			<!-- start the list of senders -->
			<div class="senders">

				<!-- people that have resent the letter -->
				<div class="resenders_single_row" 
					id="{{ letter_section.id_prefix }}_resenders" >
						{% for resender in letter_section.resenders %}

							{% include "digidemo/_i_resender_avatar.html" %}
						{% endfor %}
					<div class="clear"></div>
				</div>
				<!-- end of re-senders  -->

				<div class="float_right">
					{% include "digidemo/_i_user_id.html" with user=letter_section.post.user %}
				</div>

				{% if not signed %}
				<div class="sign_petition">
					<a 
						{{ request|login_tip }}
						id="_w_toggle_hidden_{{ letter_section.id_prefix }}"><img 
						src="{% static "digidemo/images/feather_sign.png" %}" 
						/> {% trans "sign the petition" %}
					</a>
				</div>
				{% endif %}

				<div class="clear"></div>

			</div>
			<!-- end of letter senders area -->

			<div class="clear"></div>


			<div class="clear"></div>

		</div>

		{% if signed %}
			<div class="stamp"></div>
		{% endif %}

		<img class="cover_corner"
			src="{% static "digidemo/images/corner.png" %}" />

		{% include "digidemo/_i_comments.html" with comments_section=letter_section.comments_section %}

	</div> 
	<!-- end of letter main content -->

	<div class="clear"></div>
</div>
<!-- end of a letter -->

<script type="text/javascript">

	(function(){

	 //
	 // refresh the page after submitting the letter
	 //
	 var resend_form_id = '{{ letter_section.resend_form.form_class}}_{{ letter_section.resend_form.id_prefix }}';
	 var send_form_widget = widgets[resend_form_id].widget;
	 send_form_widget.hook('success', function(){
		 location.reload();
	 });

	//
	// Create a resender list widget using elements on the page
	//
	// get the list of existing senders for this letter
	var existing_senders = [
		{{ letter_section.post.user.pk }}{% if letter_section.resenders|length > 0 %},{% endif %}
		{% for resender in letter_section.resenders %}
			{{ resender.pk }}{% if not forloop.last %},{% endif %}
		{% endfor %}
	];

	var resender_list = new ResenderList(
		$('#{{letter_section.id_prefix}}_resenders'),
		existing_senders
	);

	// register the resender widget to the page
	register_widget('resender_list_{{ letter_section.id_prefix }}', resender_list, 
		'resender_list');


						{% if GLOBALS.IS_USER_AUTHENTICATED %}
						{% if GLOBALS.IS_EMAIL_VALIDATED %}
						{% if not signed %}
	//
	// Create a toggler to show / hide the resend letter form
	//
	var toggle_div = $('#_w_toggle_hidden_{{ letter_section.id_prefix }}');
	var content_1 = $('#_w_hidden_content_1');
	var content_2 = $('#_w_toggle_hidden_content_{{ letter_section.id_prefix }}');
	var message_1 = (
		'<img src="{% static "digidemo/images/feather_sign.png" %}" />'
		+ ' sign the petition'
	);
	var message_2 = 'x {% trans "Cancel" %}';

	var toggler = new ToggleHidden(toggle_div, content_1, content_2, 
		message_1, message_2);
	register_widget('toggle_hidden_{{ letter_section.id_prefix }}', 
		toggler, 'toggle_hidden');

						{% endif %}
						{% endif %}
						{% endif %}



	//
	// Bind a callback to the resend_letter_form which adds a user's avatar
	// to the list of resenders when they resend a letter
	//
//	$('document').ready(function() {
//
//		// get the resend letter widget, and the resender list
//		var resend_letter_form = widgets[
//		'{{letter_section.resend_form.form_class}}_{{letter_section.resend_form.id_prefix}}']['widget'];
//		var resender_list = widgets['resender_list_{{letter_section.id_prefix}}']['widget'];
//
//		// get the toggler widget for showing / hiding the letter resend form
//		var toggler = widgets['toggle_hidden_{{letter_section.id_prefix}}'].widget
//
//		// make a callback function -- when the user resends a letter, she
//		// will get added to the resender list
//		var callback = function(rsl) {
//			return function() {
//				$('#resend_letter_status_{{letter_section.id_prefix}}').text(
//					'Your letter was sent!');
//				$('#_w_toggle_hidden_{{ letter_section.id_prefix }}').text('Send another');
//				toggler.toggle();
//				rsl.add_user({{GLOBALS.USER.pk}});
//			};
//		}(resender_list);
//
//		// now bind this function to the resend letter widget's hook
//		resend_letter_form.hook('success', callback);
//	})

	}());

</script>
{% endblock maincol %}
