{% extends "digidemo/__base.html" %}
{% load staticfiles %}
{% load apptags %}

{% block middle %}

<div class="text_page">

	<h1>So what's this all about?</h1>

	<p>
	<span class="bold">Briefly.</span><br/>
   	Luminocracy is designed to support productive political discussion about
	issues that matter to Canadians.  It combines agenda-free 
	fact-gathering with the ability to create open letters to call on 
	political, economic, and social actors for change.
	</p>

	<p>
	<span class="bold">But how?</span><br/>
	Conducting productive political discussion is difficult for a number of 
	reasons.  Using this platform, we're experimenting with mechanisms that
	encourage people with different values and political orientations
	to cooperate and share.  
	</p>
	<p>
	A central feature in achieving this, is the distinction between 
	normative and constative statements.  A normative statement is a statement
	about what we should do.  A constative statement is a value-free 
	statement of fact about the state of the world.
	</p>
	<p>
	Every issue involves both normative and constative discussion.  
	But we separate these discussions, and treat them differently.  
	Regardless of their values, people should, eventually, be able to agree
	on the <span class="italic">facts</span>.  On the other hand, no amount
	of discussion would convince a person to change their values, and so
	we <span class="italic">shouldn't try</span>.
	</p>
	<p>
	We focus on constative discussion in the wiki area, and try to foster a
	cooperative discussion about the facts.  In that discussion, it's helpful
	to have people of diverse inclinations, in order to represent an issue
	fully.  Value judgments and appeals to specific actions are totally
	prohibited here, because that will just take us into territory where
	consensus is impossible.
	</p>
	<p>
	To support the <span class="italic">normative</span>
	aspect of issues, we use an open letter system.
	In this area, we express our values and call for specific courses of action
	by writing an open letter to the major actors involved in the issue (often
	politicians or heads of corporations).  If you find a letter that you agree
	with, and you think is well-written, you can sign it.  If you don't agree,
	sign a different one, or write your own.  Letters aren't really open
	for debate.  You choose what you support based on your reading of the 
	facts, and your own set of values.
	</p>
	<p>
	We hope that this will create an environment that is conducive to the
	respectful, diligent, and productive exploration of the important challenges
	and opportunities that we face together.
	</p>

	<p>
	<span class="bold">So, what now?</span><br/>
	This is the very first iteration of our idea.  It's rough, and we need
	your help to get it right.  If you want to pitch in, then you'll want
	to join the Students' Society for Digital Democracy.  We're just getting
	organized, so for now, that means joining the 
	<a href="https://www.facebook.com/groups/1561341367446776/">
		luminocracy Facebook group
	</a>.  
	We are building, and using,
	the platform together.
	</p>
</div>

{% endblock middle %}
